{% extends 'base.html' %} {% block content %}
<script>
  function set_close_the_sale(register_id) {
    document.getElementById("register_id_update").value = register_id;
  }

  function cancle_register(register_id) {
    document.getElementById("register_id_delete").value = register_id;
  }


    function setValueDeleteModal(
    rp_id
  ) {
  
    document.getElementById("rp_id").value = rp_id;
  

  }

  function default_date() {
    const d = new Date();
    let month = d.getMonth() + 1;
    let year = d.getFullYear();
    let formattedNumberMonth = month.toLocaleString("en-US", {
      minimumIntegerDigits: 2,
      useGrouping: false,
    });

    const url = new URL(location.href);
    //alert(url.searchParams.get("qmonths"));
    let qmonth = url.searchParams.get("qmonths");
    let qyear = url.searchParams.get("qyear");
    if (qmonth !== null && qyear !== null) {
      document.getElementById("qmonths").value = qmonth;
      document.getElementById("qyear").value = qyear;
    } else {
      document.getElementById("qmonths").value = formattedNumberMonth;
      document.getElementById("qyear").value = year;
    }
  }

  window.onload = default_date;
</script>
<div class="row">
  <div class="col-12 col-md-6 order-md-1 order-last">
    <h3>ยกเลิกบิล</h3>
  </div>
  <div class="col-12 col-md-6 order-md-2 order-first">
    <nav
      aria-label="breadcrumb"
      class="breadcrumb-header float-start float-lg-end"
    >
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">หน้าหลัก</a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">ดำเนินการ</li>
      </ol>
    </nav>
  </div>
</div>

<section class="section">
  <div class="card">
    <div class="card-body">
      <form method="get" action="/finance/billing/cancelbill" autocomplete="off">
        <div class="row">
     

          <div class="col-lg-9 col-md-6">
            <input
              type="text"
              class="form-control"
              id="rp_doc_number"
              name="rp_doc_number"
              required
              placeholder="ค้นหาเลขใบเสร็จ "
            />
          </div>
          <div class="col-lg-3 col-md-6">
            <button type="submit" class="btn btn-success">
              <i class="icon dripicons-experiment"></i>
              กรอง
            </button>
          </div>
        </div>
      </form>

      <table class="table table-striped" id="table1">
        <thead>
          <tr>
            <th>ลำดับ</th>
            <th>เลขที่ใบสมัคร</th>
            <th>เลขใบเสร็จ</th>
           
            <th>ชื่อลูกค้า</th>
            <th>ประเภทลูกค้า</th>
            <th>ประเภทการชำระเงิน</th>
            <th>ปิดการขาย</th>
            <th>วันที่ออกบิล</th>
            <th>ผู้ประสานงาน</th>
<th>ประเภท</th>
         
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          {% for res in data %}
          <tr>
            <td align="center">{{ forloop.counter }}</td>
            <td>{{res.register.register_number}}</td>
            <td>{{res.rp_doc_number}}</td>
          
            <td>{{res.rp_name_customer}}</td>
            <td align="center">
              {% if res.register.customer_type == 1 %}
              <span class="badge bg-success">บุคคล</span>
              {% else %}
              <span class="badge bg-info">บริษัท</span>
              {% endif %}
            </td>
            
            <td align="center">
        
              {% if res.register.pay_type == 1 %}

              <span class="badge bg-success">เงินสด </span>
              {% else %}
              <span class="badge bg-danger">เครดิต</span>
              {% endif %}
            </td>

            <td align="center">
              {% if res.register.close_the_sale == 1 %}
              <span class="badge bg-success">ปิดการขาย - ขายสำเร็จ</span>
              {% elif res.register.close_the_sale == 2 %}
              <span class="badge bg-danger">ปิดการขาย - ขายไม่สำเร็จ</span>
              {% else %}
              <span class="badge bg-warning">กำลังขาย</span>
              {% endif %}


              {% if res.saleorder %}
              <span class="badge bg-warning">{{'SQ:'}}{{res.saleorder.sq}}</span>
              {% else %}
              {% endif %}
             
            </td>

            <td>{{res.crt_date|date:"d/m/Y H:i"}}</td>
                <td>{{res.rp_name_seller}}</td>

                  {% if res.register.ev_id %}
            <td>มี Event</td>
              {% else %}
               <td>ไม่มี Event</td>
              {% endif %}

                  
            <td>
          <button
                  class="btn btn-danger btn-sm"
                  type="button"
                  id="dropdownMenuButtonIcon"
                  data-bs-toggle="modal"
                  data-bs-target="#DeleteClick"
                  onclick="setValueDeleteModal('{{res.rp_id}}')"
                >
                 ยกเลิก
                </button>
     
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>



{% comment %} Delete {% endcomment %}
<div class="modal fade" id="DeleteClick">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title white" id="myModalLabel19">ยกเลิกบิล</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i data-feather="x"></i>
        </button>
      </div>
      <form action="{% url 'Cancelbill' %}" method="post">
        <div class="modal-body">
          {% csrf_token %}
          <input
            type="hidden"
            name="rp_id"
            id="rp_id"
            required
          />
          <div align="center">
            <h4>ยืนยันการยกเลิก</h4>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-light-secondary"
              data-bs-dismiss="modal"
            >
              <i class="bx bx-x d-block d-sm-none"></i>
              <span class="d-none d-sm-block">ยกเลิก</span>
            </button>
            <button type="submit" class="btn btn-primary ml-1">
              <i class="bx bx-check d-block d-sm-none"></i>
              <span class="d-none d-sm-block">ยืนยันการยกเลิกบิล</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
