{% extends 'base.html' %} {% block content %} {% load humanize static %}
<script>
  function default_date() {
    const d = new Date();
    let month = d.getMonth() + 1;

    let year = d.getFullYear();
    let formattedNumberMonth = month.toLocaleString("en-US", {
      minimumIntegerDigits: 2,
      useGrouping: false,
    });

    const url = new URL(location.href);
    //alert(url.searchParams.get("qmonths"));
    let qmonth = url.searchParams.get("qmonths");
    let qyear = url.searchParams.get("qyear");
    if (qmonth !== null && qyear !== null) {
      document.getElementById("qmonths").value = qmonth;
      document.getElementById("qyear").value = qyear;
    } else {
      document.getElementById("qmonths").value = formattedNumberMonth;
      document.getElementById("qyear").value = year;
    }
  }

  window.onload = default_date;
</script>
<div class="row">
  <div class="col-12 col-md-6 order-md-1 order-last">
    <h3>กำหนดค่าตอบแทนวันอบรม</h3>
  </div>
  <div class="col-12 col-md-6 order-md-2 order-first">
    <nav
      aria-label="breadcrumb"
      class="breadcrumb-header float-start float-lg-end"
    >
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">หน้าหลัก</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          กำหนดค่าตอบแทนวันอบรม
        </li>
      </ol>
    </nav>
  </div>
</div>

<section class="section">
  <div class="card">
    <div class="card-body">
      <form method="get" action="/finance/billing/setting" autocomplete="off">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <select class="form-select" id="qmonths" name="qmonths">
              <option value="01">มกราคม</option>
              <option value="02">กุมภาพันธ์</option>
              <option value="03">มีนาคม</option>
              <option value="04">เมษายน</option>
              <option value="05">พฤษภาคม</option>
              <option value="06">มิถุนายน</option>
              <option value="07">กรกฎาคม</option>
              <option value="08">สิงหาคม</option>
              <option value="09">กันยายน</option>
              <option value="10">ตุลาคม</option>
              <option value="11">พฤศจิกายน</option>
              <option value="12">ธันวาคม</option>
            </select>
          </div>

          <div class="col-lg-3 col-md-6">
            <input
              type="number"
              class="form-control"
              id="qyear"
              name="qyear"
              required
              placeholder="ปี (ค.ศ.)"
            />
          </div>
          <div class="col-lg-3 col-md-6">
            <button type="submit" class="btn btn-success">
              <i class="icon dripicons-experiment"></i>
              กรอง
            </button>
          </div>
        </div>
      </form>

      <table class="table table-striped" id="table1">
        <thead>
          <tr>
            <th>ลำดับ</th>
            <th>รหัสหลักสูตร</th>
            <th>ชื่อหลักสูตร</th>
            <th>ราคา (บาท)</th>
            <th>รวม VAT</th>
            <th>วันที่อบรม</th>
            <th>รุ่น</th>
            <th>วันหมดอายุใบรับรอง</th>
            <th>ครู - วิทยากร</th>
          </tr>
        </thead>
        <tbody>
          {% for res in data %}
          <tr>
            <td align="center">{{ forloop.counter }}</td>
            <td>{{res.course.course_code}}</td>
            <td>{{res.course.course_name}}</td>
            <td align="right">{{ res.ev_price|floatformat:2|intcomma }}</td>
            <td align="center">
              {% if res.ev_vat == 1 %}
              <font style="color: blue">ใช่</font>
              {% else %}
              <font style="color: red">ไม่ใช่</font>
              {% endif %}
            </td>

            <td>
              {{res.ev_date_start|date:"d/m/Y"}} ถึง
              {{res.ev_date_end|date:"d/m/Y"}}
            </td>
            <td>{{res.ev_generation}}</td>
            <td align="center">
              {{res.ev_expired_cer_date|date:"d/m/Y"}}
              ({{res.ev_expired_cer_quantity}} ปี)
            </td>
            <td>
              <button
                type="button"
                class="btn btn-info"
                onclick="window.location.href='/course/event/teachers/form/create/{{res.ev_id}}'"
              >
                <i class="icon dripicons-user"></i> จัดการ
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

{% endblock %}
