{% extends 'base.html' %} {% block content %} {% load humanize %}
<script>
  function setValueUpdateModal(
    course_id,
    course_code,
    course_name,
    course_name_eng,
    active,
    crt_date,
    upd_date
  ) {
    document.getElementById("course_id_update").value = course_id;
    document.getElementById("course_code_update").value = course_code;
    document.getElementById("course_name_update").value = course_name;
    document.getElementById("course_name_eng_update").value = course_name_eng;
    document.getElementById("active_update").value = active;
    document.getElementById("datecrt").innerHTML =
      "วันที่สร้าง " + crt_date + " | วันที่ปรับปรุง " + upd_date;
  }
  function setValueDeleteModal(course_id) {
    document.getElementById("course_id_delete").value = course_id;
  }
</script>
<div class="row">
  <div class="col-12 col-md-6 order-md-1 order-last">
    <h3>หลักสูตร</h3>
  </div>
  <div class="col-12 col-md-6 order-md-2 order-first">
    <nav
      aria-label="breadcrumb"
      class="breadcrumb-header float-start float-lg-end"
    >
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">หน้าหลัก</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">หลักสูตร</li>
      </ol>
    </nav>
  </div>
</div>

<section class="section">
  <div class="card">
    <div class="card-header">
      <div align="right">
        <div class="btn-group mb-3" role="group" aria-label="Basic example">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#CreateClick"
          >
            <i class="icon dripicons-plus" aria-hidden="true"></i> เพิ่มข้อมูล
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped" id="table1">
        <thead>
          <tr>
            <th>ลำดับ</th>
            <th>รหัสหลักสูตร</th>
            <th>ชื่อหลักสูตรภาษาไทย</th>
            <th>ชื่อหลักสูตรภาษาอังกฤษ</th>
            <th>พร้อมทำงาน</th>
            <th>จัดการ</th>
          </tr>
        </thead>
        <tbody>
          {% for res in data %}
          <tr>
            <td align="center">{{ forloop.counter }}</td>
            <td>{{res.course_code}}</td>
            <td>{{res.course_name}}</td>
            <td>{{res.course_name_eng}}</td>

            <td align="center">
              {% if res.active == 1 %}
              <font style="color: blue">เปิด</font>
              {% else %}
              <font style="color: red">ปิด</font>
              {% endif %}
            </td>
            <td>
              <div align="center">
                <button
                  type="button"
                  onclick="setValueUpdateModal('{{res.course_id}}',
                  '{{res.course_code}}',
                  '{{res.course_name}}',
                  '{{res.course_name_eng}}',
                  '{{res.active}}',
                  '{{res.crt_date}}',
                  '{{res.upd_date}}')"
                  class="btn btn-warning"
                  data-bs-toggle="modal"
                  data-bs-target="#UpdateClick"
                >
                  <i class="icon dripicons-document-edit"></i> แก้ไข
                </button>

                <button
                  type="button"
                  onclick="setValueDeleteModal('{{res.course_id}}')"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#DeleteClick"
                >
                  <i class="icon dripicons-trash" aria-hidden="true"></i>
                  ลบ
                </button>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

{% comment %} Create {% endcomment %}
<div
  class="modal fade text-left"
  id="CreateClick"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel160"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title white" id="myModalLabel160">เพิ่มข้อมูล</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i data-feather="x"></i>
        </button>
      </div>
      <form action="{% url 'CreateCourse' %}" method="post">
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label>รหัสหลักสูตร</label> <label style="color: red">*</label>
            <input
              type="text"
              class="form-control"
              id="course_code"
              name="course_code"
              required
            />
          </div>
          <div class="form-group">
            <label>ชื่อหลักสูตรภาษาไทย</label>
            <label style="color: red">*</label>
            <input
              type="text"
              class="form-control"
              id="course_name"
              name="course_name"
              required
            />
          </div>
          <div class="form-group">
            <label>ชื่อหลักสูตรภาษาอังกฤษ</label>
            <label style="color: red">*</label>
            <input
              type="text"
              class="form-control"
              id="course_name_eng"
              name="course_name_eng"
              required
            />
          </div>

          <div class="form-group">
            <label>เปิด-ปิด</label>
            <select class="form-control" name="active" id="active" required>
              <option value="0">ปิด</option>
              <option value="1" selected>เปิด</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-light-secondary"
            data-bs-dismiss="modal"
          >
            <i class="bx bx-x d-block d-sm-none"></i>
            <span class="d-none d-sm-block">ยกเลิก</span>
          </button>
          <button type="submit" class="btn btn-primary ml-1">
            <i class="bx bx-check d-block d-sm-none"></i>
            <span class="d-none d-sm-block">บันทึก</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% comment %} Update {% endcomment %}
<div
  class="modal fade text-left"
  id="UpdateClick"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel160"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title white" id="myModalLabel160">แก้ไขข้อมูล</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i data-feather="x"></i>
        </button>
      </div>
      <form action="{% url 'UpdateCourse' %}" method="post">
        {% csrf_token %}
        <input type="hidden" id="course_id_update" name="course_id" required />
        <div class="modal-body">
          <div class="form-group">
            <label>รหัสหลักสูตร</label> <label style="color: red">*</label>
            <input
              type="text"
              class="form-control"
              id="course_code_update"
              name="course_code"
              required
            />
          </div>
          <div class="form-group">
            <label>ชื่อหลักสูตรภาษาไทย</label>
            <label style="color: red">*</label>
            <input
              type="text"
              class="form-control"
              id="course_name_update"
              name="course_name"
              required
            />
          </div>
          <div class="form-group">
            <label>ชื่อหลักสูตรภาษาอังกฤษ</label>
            <label style="color: red">*</label>
            <input
              type="text"
              class="form-control"
              id="course_name_eng_update"
              name="course_name_eng"
              required
            />
          </div>

          <div class="form-group">
            <label>เปิด-ปิด</label>
            <select
              class="form-control"
              name="active"
              id="active_update"
              required
            >
              <option value="0">ปิด</option>
              <option value="1">เปิด</option>
            </select>
          </div>
          <p id="datecrt"></p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-light-secondary"
            data-bs-dismiss="modal"
          >
            <i class="bx bx-x d-block d-sm-none"></i>
            <span class="d-none d-sm-block">ยกเลิก</span>
          </button>
          <button type="submit" class="btn btn-primary ml-1">
            <i class="bx bx-check d-block d-sm-none"></i>
            <span class="d-none d-sm-block">บันทึก</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% comment %} Delete {% endcomment %}
<div class="modal fade" id="DeleteClick">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title white" id="myModalLabel19">ลบ</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i data-feather="x"></i>
        </button>
      </div>
      <form action="{% url 'DeleteCourse' %}" method="post">
        <div class="modal-body">
          {% csrf_token %}
          <input
            type="hidden"
            name="course_id"
            id="course_id_delete"
            required
          />
          <div align="center">
            <h4>ยืนยันการลบข้อมูล</h4>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-light-secondary"
              data-bs-dismiss="modal"
            >
              <i class="bx bx-x d-block d-sm-none"></i>
              <span class="d-none d-sm-block">ยกเลิก</span>
            </button>
            <button type="submit" class="btn btn-primary ml-1">
              <i class="bx bx-check d-block d-sm-none"></i>
              <span class="d-none d-sm-block">ยืนยันการลบ</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
