{% load humanize %} {% comment %}
https://www.aspsnippets.com/questions/661908/Export-HTML-Table-with-CSS-to-Excel-using-JavaScript/
{% endcomment %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript">

 function setValueUpdateModal(rp_doc_number,number_receipt) {
  console.log(rp_doc_number)
document.getElementById("rp_doc_number").value = rp_doc_number;
document.getElementById("number_receipt").value = number_receipt;
 }



function allowOnlyNumbersPeople(event) {
  
if (
  event.key === "Backspace" ||
  event.key === "Tab" ||
  event.key === "ArrowLeft" ||
  event.key === "ArrowRight" ||
  event.key === "Delete"
) {
  return true; // Allow default behavior
}

// Allow only numbers (0-9)
if (!/^\d$/.test(event.key)) {
  event.preventDefault(); // Block other characters
  return false; // Prevent default behavior
}


setTimeout(() => {
  const it = document.getElementById("totalhours").value;
  const total = document.getElementById("total").value;


  document.getElementById("result").innerHTML = it * total;

}, 20);

}

async function updatePI() {

  const rp_doc_number  = document.getElementById("rp_doc_number").value;
  const number_receipt = document.getElementById("number_receipt").value;


      let data = await fetch('/api/updatnumberscript', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ 'rp_doc_number': rp_doc_number, 'number_receipt': number_receipt})
    })
      .then(response => response.json())
      .then(data => {
      window.top.location.reload();
      })

}


async function myApprov() {

  // const it = document.getElementById("totalhours").value;
  // const total = document.getElementById("total").value;
  // const doc = document.getElementById("doc").value;
  const doc_document = document.getElementById("doc_document").value;
  const doc_in_hrc = document.getElementById("doc_in_hrc").value;
  const teach_in_come = document.getElementById("teach_in_come").value;

  

  if(doc_in_hrc == ''){
    Swal.fire({
      title: 'ไม่มีเลขบันทึกภาย!',
      text: 'ไม่มีเลขบันทึกภาย',
      icon: 'error',
      confirmButtonText: 'OK'
    });
    return false;
  } 



    let data = await fetch('/api/updateteachincome', {
method: 'POST',
headers: {
    'Content-Type': 'application/json',
},
body: JSON.stringify({'ev_id':teach_in_come,'doc_document':doc_document,'doc_in_hrc':doc_in_hrc})
})
.then(response => response.json())
.then(data => {

  // approvebill/update/bill
  Swal.fire({
      title: 'บันทึกสำเสร็จ!',
      text: 'บันทึกสำเสร็จ',
      icon: 'success',
      confirmButtonText: 'OK'
    });
    window.top.location.reload();
 
})
.catch(error => {
   
  
});
}

  var tableToExcel = (function () {
    // Define your style class template.
    var style = "<style>.green { background-color: green; }</style>";
    var uri = "data:application/vnd.ms-excel;base64,",
      template =
        '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]-->' +
        style +
        "</head><body><table>{table}</table></body></html>",
      base64 = function (s) {
        return window.btoa(unescape(encodeURIComponent(s)));
      },
      format = function (s, c) {
        return s.replace(/{(\w+)}/g, function (m, p) {
          return c[p];
        });
      };
    return function (table, name) {
      if (!table.nodeType) table = document.getElementById(table);
      var ctx = { worksheet: name || "Worksheet", table: table.innerHTML };
      window.location.href = uri + base64(format(template, ctx));
    };
  })();
</script>
<link
  href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
  rel="stylesheet"
/>

<style type="text/css">
  body {
    font-family: "Sarabun", sans-serif;
    font-size: 16px;
  }
  table {
    font-size: 16px;
  }
  .green {
    background-color: green;
  }
  .grid-container-3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* สร้าง 3 คอลัมน์ที่มีขนาดเท่ากัน */
      gap: 10px; /* ช่องว่างระหว่างคอลัมน์ */
    }

    .grid-container-1 {
      display: grid;
      grid-template-columns: repeat(1, 1fr); /* สร้าง 3 คอลัมน์ที่มีขนาดเท่ากัน */
      gap: 10px; /* ช่องว่างระหว่างคอลัมน์ */
    }


    .my-table {
  border-collapse: collapse; /* This removes the space between cell borders */
  width: 100%;
}

/* Style the cells (th and td) */
.my-table th, .my-table td {
  border: 1px solid black; /* Sets the border to 1px wide, solid, and black */
  padding: 8px; /* Adds space inside the cells */
  text-align: left;
}
    
</style>
<input type="่hidden" id="totalhours" name="totalhours" value="{{totalhours}}" style="display: none;">
<input type="text" id="teach_in_come" name="teach_in_come" value="{{teach_in_come}}" style="display: none;">
<input type="text" id="doc_document" name="doc_document" value="{{doc}}" style="display: none;" >



<div class="grid-container-3" style="padding-top: 15px">
  <div class="grid-item"></div>
  <div class="grid-item" style="text-align: center;font-size: 24px;"> รายงานขอตั้งเบิกค่าจ้างเหมา 
    {% if pi == 7 %}
    (ภายใน)
    {% else %}
    (ภายนอก)
    {% endif %}
  </div>
  <div class="grid-item" style="text-align: center;"> เลขที่เอกสาร  {{doc}}</div>
</div>
<div class="grid-container-1" style="padding-top: 15px">
  <div class="grid-item" style="text-align: center;"> ชื่อ  {{fname}} {{lname}} เลขที่ผู้เสียภาษี    {{tax_number}}  </div>
</div>
<div class="grid-container-1" style="padding-top: 5px">
  <div class="grid-item" style="text-align: center;"> ประจำวันที่ {{today}} </div>
</div>
<div class="grid-container-1" style="padding-top: 5px">
  <div class="grid-item" style="text-align: center;"> รายละเอียดใบเสร็จรับเงิน  Item {{course_code}}  </div>
</div>
<div class="grid-container-1" style="padding-top: 5px">
  <div class="grid-item" style="text-align: center;"> ชื่อ {{course_name}}  วันที่ {{course_ev.ev_date_start}} - {{course_ev.ev_date_end}} </div>
</div>

{% comment %} rules="groups" frame="hsides" border="2" {% endcomment %}
<br>
<table
  id="testTable" class="my-table"
  summary="Code page support in different versions of MS Windows."

>
  <tbody>
    <tr style="font-weight: bold">
      <td>ลำดับ</td>
      
      <td>ชื่อ - นามสกุล / <br>ชื่อบริษัท</td>
      <td>เลขที่บัตรปชช / <br> เลขที่ผู้เสียภาษี</td>
      <td>โทร</td>
      <td>จำนวนเงินสด(โอน)</td>
      <td>จำนวนเงิน (เครดิต)</td>
      <td>รวมเป็นเงิน  </td>
      <td>ใบเสร็จรับเงินเลขที่ /<br>ใบเสนอราคา</td>
      <td>ใบเสร็จรับเงิน</td>
    </tr>
    {% for res in data %}
    <tr>
      <td align="center">{{ forloop.counter }}</td>
   
      <td>{{res.customer}}</td>
      <td>{{res.tax}}</td>
   
    
      <td>{{res.tel}}</td>
      <td>
        {% if res.pay_type == 1 %}
        {{res.rpi_price}}
        {% else %}
       -
        {% endif %}
      </td>
      <td>
        {% if res.pay_type == 2 %}
        {{res.rpi_price}}
        {% else %}
        -
        {% endif %}
      </td>
      
      <td></td>
         <td>{{res.rp_doc_number}}</td>
           <td>
                 <button
                  type="button"
                  onclick="setValueUpdateModal('{{res.rp_doc_number}}','{{res.number_receipt}}')"
                  class="btn btn-secondary"
                  data-bs-toggle="modal"
                  data-bs-target="#CreateClick"
                >
               บันทึกใบเสร็จ
                </button>
          </td>
      {% endfor %}
    </tr>

    <!-- <tr>
      
    
      <td></td>
      <td></td>
      <td></td>
      
      <td>รวม</td>
      <td> {{total_payment}}</td>
      <td>
        {{total_credit}}
      </td>
      <td>
        {{total}}
       </td>
    
        <td></td>
            <td></td>
    </tr> -->


    

    <tr>
      <td></td>
      <td></td>
      <td colspan="4">

        <!-- <div style="display: flex;">
          <div style="flex: 1;">จำนวนใบเสร็จ</div>
          <div style="flex: 1;">{{total_bill_payment}}</div>
          <div style="flex: 1;">บิล</div>
        </div>

        <div style="display: flex;">
          <div style="flex: 1;">จำนวนใบเสนอราคา</div>
          <div style="flex: 1;">{{total_bill_credit}}</div>
          <div style="flex: 1;">บิล</div>
        </div> -->
     <div style="display: flex;">
          <div style="flex: 1;">จ่ายค่าจ้างเหมา เรื่อง {{course_name}}</div>
         
   
        </div>
   
        </td>
      <td colspan="3">บันทึกภายในเลขที่  <input type="text" id="doc_in_hrc" name="doc_in_hrc"  /></td>
 
    </tr>



    <tr>
      <td></td>
      <td></td>
      <!-- <td colspan="5">
     

        <div style="display: flex;">
          <div style="flex: 1;">นโยบายจ่ายค่าจ้างเหมา เลขที่ <input type="text" id="doc" name="doc"> </div>
        </div>

      

        <div style="display: flex;">
          <div style="flex: 1;">ค่าจ้างเหมาเป็นเงิน  {{totalhours}} ชั่วโมง  ชั่วโมงละ <input type="text" id="total" name="total"    onkeydown="allowOnlyNumbersPeople(event)"> 
         
          </div>

        </div>
        </td> -->
            <td colspan="4">
     

        <div style="display: flex;">
            <div style="flex: 1;">จ่ายค่าจ้างเหมาเป็นเงิน </div>
          <div style="flex: 1;">{{tis_compensation}}</div>
             <div style="flex: 1;">บาท</div>
        </div>

      

   
        </td>
      <!-- <td > <span id="result"></span></td> -->
      <td colspan="3" style="text-align: center;"> <button type="button" class="btn btn-success" onclick="myApprov()">Accept</button> </td>
    </tr>
   
    <!-- <tr>
      <td colspan="5" style="text-align: center;">ฝ่ายบัญชี  Accept</td>
   
 
      <td colspan="3" style="text-align: center;"> <button type="button" class="btn btn-success" onclick="myApprov()">Accept</button> </td>
    </tr> -->
  </tbody>
</table>



<div
  class="modal fade text-left"
  id="CreateClick"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel160"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
    role="document"
  >

    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title white" id="myModalLabel160">เพิ่มข้อมูล</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i data-feather="x"></i>
        </button>
      </div>
      <form action="" method="post">
        {% csrf_token %}
         <input type="text" id="rp_doc_number" name="rp_doc_number" required />
   
  
        <div class="modal-body">
          <div class="form-group">
            <label>ใบเสร็จรับเงิน</label> <label style="color: red">*</label>
            <input
              type="text"
              class="form-control"
              id="number_receipt"
              name="number_receipt"
              required
            />
          </div>

        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-light-secondary"
            data-bs-dismiss="modal"
          >
            <i class="bx bx-x d-block d-sm-none"></i>
            <span class="d-none d-sm-block">ยกเลิก</span>
          </button>
          <button type="submit" class="btn btn-primary ml-1"  onclick="updatePI()">
            <i class="bx bx-check d-block d-sm-none"></i>
            <span class="d-none d-sm-block">บันทึก</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
