{% load humanize %} {% comment %} 
https://www.aspsnippets.com/questions/661908/Export-HTML-Table-with-CSS-to-Excel-using-JavaScript/
{% endcomment %}
<script
  src="https://code.jquery.com/jquery-latest.min.js"
  type="text/javascript"
></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">

function myFunction() {

var monney = "{{price}}";
var thaibath = this.ArabicNumberToText(monney);
document.getElementById("result").innerHTML = thaibath;
console.log(thaibath);
}
function ArabicNumberToText(Number) {
var Number = CheckNumber(Number);
var NumberArray = new Array(
"ศูนย์",
"หนึ่ง",
"สอง",
"สาม",
"สี่",
"ห้า",
"หก",
"เจ็ด",
"แปด",
"เก้า",
"สิบ"
);
var DigitArray = new Array("", "สิบ", "ร้อย", "พัน", "หมื่น", "แสน", "ล้าน");
var BahtText = "";
if (isNaN(Number)) {
return "ข้อมูลนำเข้าไม่ถูกต้อง";
} else {
if (Number - 0 > 9999999.9999) {
return "ข้อมูลนำเข้าเกินขอบเขตที่ตั้งไว้";
} else {
Number = Number.split(".");
if (Number[1].length > 0) {
Number[1] = Number[1].substring(0, 2);
}
var NumberLen = Number[0].length - 0;
for (var i = 0; i < NumberLen; i++) {
var tmp = Number[0].substring(i, i + 1) - 0;
if (tmp != 0) {
  if (i == NumberLen - 1 && tmp == 1) {
    BahtText += "เอ็ด";
  } else if (i == NumberLen - 2 && tmp == 2) {
    BahtText += "ยี่";
  } else if (i == NumberLen - 2 && tmp == 1) {
    BahtText += "";
  } else {
    BahtText += NumberArray[tmp];
  }
  BahtText += DigitArray[NumberLen - i - 1];
}
}
BahtText += "บาท";
if (Number[1] == "0" || Number[1] == "00") {
BahtText += "ถ้วน";
} else {
DecimalLen = Number[1].length - 0;
for (var i = 0; i < DecimalLen; i++) {
  var tmp = Number[1].substring(i, i + 1) - 0;
  if (tmp != 0) {
    if (i == DecimalLen - 1 && tmp == 1) {
      BahtText += "เอ็ด";
    } else if (i == DecimalLen - 2 && tmp == 2) {
      BahtText += "ยี่";
    } else if (i == DecimalLen - 2 && tmp == 1) {
      BahtText += "";
    } else {
      BahtText += NumberArray[tmp];
    }
    BahtText += DigitArray[DecimalLen - i - 1];
  }
}
BahtText += "สตางค์";
}
return BahtText;
}
}
}
function CheckNumber(Number) {
var decimal = false;
Number = Number.toString();
Number = Number.replace(/ |,|บาท|฿/gi, "");
for (var i = 0; i < Number.length; i++) {
if (Number[i] == ".") {
decimal = true;
}
}
if (decimal == false) {
Number = Number + ".00";
}
return Number;
}


function allowOnlyNumbersPeople(event) {
  
if (
  event.key === "Backspace" ||
  event.key === "Tab" ||
  event.key === "ArrowLeft" ||
  event.key === "ArrowRight" ||
  event.key === "Delete"
) {
  return true; // Allow default behavior
}

// Allow only numbers (0-9)
if (!/^\d$/.test(event.key)) {
  event.preventDefault(); // Block other characters
  return false; // Prevent default behavior
}


setTimeout(() => {
  const it = document.getElementById("totalhours").value;
  const total = document.getElementById("total").value;


  document.getElementById("result").innerHTML = it * total;

}, 20);

}


async function myApprov() {

  const it = document.getElementById("totalhours").value;
  const total = document.getElementById("total").value;
  const doc = document.getElementById("doc").value;
  const doc_document = document.getElementById("doc_document").value;
  const teach_in_come = document.getElementById("teach_in_come").value;
  
  if(it == ''){
    Swal.fire({
      title: 'ไม่มีจำนวนชั่วโมง!',
      text: 'กรุณากรอกชั่วโมง',
      icon: 'error',
      confirmButtonText: 'OK'
    });
    return false;
  }
  if(total == ''){
    Swal.fire({
      title: 'กรุณากรอกยอดเงิน!',
      text: 'กรุณากรอกยอดเงิน',
      icon: 'error',
      confirmButtonText: 'OK'
    });
    return false;
  }
  if(doc == ''){
    Swal.fire({
      title: 'กรุณากรอกเลขที่จ้างเหมา!',
      text: 'กรุณากรอกเลขที่จ้างเหมา',
      icon: 'error',
      confirmButtonText: 'OK'
    });
    return false;
  }
  if(doc_document == ''){
    Swal.fire({
      title: 'ไม่มีเลขที่เอกสาร!',
      text: 'ไม่มีเลขที่เอกสาร',
      icon: 'error',
      confirmButtonText: 'OK'
    });

    return false;

  } 



    let data = await fetch('/api/updateteachincome', {
method: 'POST',
headers: {
    'Content-Type': 'application/json',
},
body: JSON.stringify({'ev_id':teach_in_come,'total':total,'doc':doc,'doc_document':doc_document,'it':it})
})
.then(response => response.json())
.then(data => {

  // approvebill/update/bill
  Swal.fire({
      title: 'บันทึกสำเสร็จ!',
      text: 'บันทึกสำเสร็จ',
      icon: 'success',
      confirmButtonText: 'OK'
    });
    window.top.location.reload();
 
})
.catch(error => {
   
  
});
}

  var tableToExcel = (function () {
    // Define your style class template.
    var style = "<style>.green { background-color: green; }</style>";
    var uri = "data:application/vnd.ms-excel;base64,",
      template =
        '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]-->' +
        style +
        "</head><body><table>{table}</table></body></html>",
      base64 = function (s) {
        return window.btoa(unescape(encodeURIComponent(s)));
      },
      format = function (s, c) {
        return s.replace(/{(\w+)}/g, function (m, p) {
          return c[p];
        });
      };
    return function (table, name) {
      if (!table.nodeType) table = document.getElementById(table);
      var ctx = { worksheet: name || "Worksheet", table: table.innerHTML };
      window.location.href = uri + base64(format(template, ctx));
    };
  })();
</script>
<link
  href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
  rel="stylesheet"
/>

<style type="text/css">
  body {
    font-family: "Sarabun", sans-serif;
    font-size: 16px;
  }
  table {
    font-size: 16px;
  }
  .green {
    background-color: green;
  }
  .grid-container-3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* สร้าง 3 คอลัมน์ที่มีขนาดเท่ากัน */
      gap: 10px; /* ช่องว่างระหว่างคอลัมน์ */
    }

    .grid-container-1 {
      display: grid;
      grid-template-columns: repeat(1, 1fr); /* สร้าง 3 คอลัมน์ที่มีขนาดเท่ากัน */
      gap: 10px; /* ช่องว่างระหว่างคอลัมน์ */
    }
    .space {
    margin-bottom: 30px; /* ปรับระยะห่างตามต้องการ */
    display: block;
  }
    
</style>
<body onLoad="window.print();myFunction();">
<input type="่hidden" id="totalhours" name="totalhours" value="{{totalhours}}" style="display: none;">
<input type="text" id="teach_in_come" name="teach_in_come" value="{{teach_in_come}}" style="display: none;">
<input type="text" id="doc_document" name="doc_document" value="{{doc}}" style="display: none;" >


<div style="padding: 10px;">
<div class="grid-container-3" style="padding-top: 15px" >
  <div class="grid-item"></div>
  <div class="grid-item" style="text-align: center;font-size: 24px;"> ใบบันทึกภายใน </div>
  <div class="grid-item" style="text-align: center;"> เลขที่เอกสาร  {{doc}}</div>
</div>


<div class="grid-container-1" style="padding-top: 15px">
  <div class="grid-item"> เรียน  ผบห. บริษัทไอดีไดร์ฟ จำกัด  </div>
</div>
<div class="grid-container-1" style="padding-top: 15px">
  <div class="grid-item" > เรื่อง  ขอเบิกจ่ายผู้รับจ้างเหมา   รหัสเจ้าหนี้ xxxxxxx  ชื่อ {{fname}} {{lname}}  </div>
</div>
<div class="grid-container-1" style="padding-top: 15px">
  <div class="grid-item" >  เลขที่ผู้เสียภาษี {{tax_number}}  ที่อยู่ 171/8 อ.เมือง จ.ขอนแก่น       </div>
</div>

<div class="grid-container-1" style="padding-top: 5px;padding-left: 20px">
  <div class="grid-item">อ้างอิง Item {{course_code}} ชื่อหลักสูตร {{course_name}}  จัดวันที่ {{course_ev.ev_date_start}} - {{course_ev.ev_date_end}} </div>
</div>
</div>
{% comment %} rules="groups" frame="hsides" border="2" {% endcomment %}
<br>
<table
  id="testTable"
  summary="Code page support in different versions of MS Windows."
  style="width: 100%; border-collapse: collapse"
  border="1"
>
  <tbody>
    <tr style="font-size: 14px;">
      <td>ลำดับ</td>
      <td>ใบเสร็จรับเงินเลขที่ <br>ใบเสนอราคา</td>
      <td>ชื่อ - นามสกุล <br>ชื่อบริษัท</td>
      <td>เลขที่บัตรปชช <br> เลขที่ผู้เสียภาษี</td>
      <td>โทร</td>
      <td>จำนวนเงินสด(โอน)</td>
      <td>จำนวนเงิน (เครดิต)</td>
      <td>รวมเป็นเงิน  </td>
    </tr>
    {% for res in data %}
    <tr>
      <td align="center">{{ forloop.counter }}</td>
      <td>{{res.rp_doc_number}}</td>
      <td>{{res.customer}}</td>
      <td>{{res.tax}}</td>
   
    
      <td>{{res.tel}}</td>
      <td>
        {% if res.pay_type == 1 %}
   
        {{res.rpi_price|floatformat:2|intcomma }}
        {% else %}
       -
        {% endif %}
      </td>
      <td>
        {% if res.pay_type == 2 %}
        {{res.rpi_price|floatformat:2|intcomma }}
        {% else %}
        -
        {% endif %}
      </td>
      <td></td>
      {% endfor %}
    </tr>

    <tr>
  
      <td colspan="5"  style="text-align: center;">รวม</td>
      <td style="padding: 5px;"> {{total_payment|floatformat:2|intcomma }}</td>
      <td style="padding: 5px;">
      
        {{total_credit|floatformat:2|intcomma }}
      </td>
      <td style="padding: 5px;">
       
        {{total|floatformat:2|intcomma }}
       </td>
    
    
    </tr>


    

    <tr>
  
      <td colspan="5" style="padding: 5px;">

        <div style="display: flex;">
          <div style="flex: 2;">จำนวนใบเสร็จ</div>
          <div style="flex: 1;">{{total_bill_payment}}</div>
          <div style="flex: 1;">บิล</div>
        </div>

        <div style="display: flex;">
          <div style="flex: 2;">จำนวนใบเสนอราคา</div>
          <div style="flex: 1;">{{total_bill_credit}}</div>
          <div style="flex: 1;">บิล</div>
        </div>

   
        </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>



    <tr>
  
      <td colspan="6" style="padding: 5px;">
     

        <div style="display: flex;">
          <div style="flex: 1;">นโยบายจ่ายค่าจ้างเหมา เลขที่ {{payment_policy}}</div>
        </div>

      

        <div style="display: flex;">
          <div style="flex: 1;">ค่าจ้างเหมาเป็นเงิน  {{totalhours}} ชั่วโมง  ชั่วโมงละ  {{totalprice|floatformat:2|intcomma }} บาท
         
          </div>
        </div>
        </td>
        <td>ตัวอักษร (<span id="result"></span>) </td> 
      <td > <span id="resultttt">{{price|floatformat:2|intcomma }}</span></td>
    </tr>
    <tr>
      <td colspan="8" >

        <div class="grid-container-3" style="padding-top: 15px">
          <div class="grid-item" style="text-align: center;line-height: 2.5;"> <span >ผู้ขอบันทึก</span>
            <br class="spacer"><span >

              <img
              src="{{signa.image_cover.url}}"
              alt="IDLOGO"
              style="width: 200px; height: 100px"
            />
            </span>
            <br class="spacer"><span >ฝ่ายบัญชี  ({{users.first_name}}  {{users.last_name}} )</span></div>
          <div class="grid-item" style="text-align: center;line-height: 2.5;">  <span >ผู้ตรวจสอบ</span>
            {% load static %}
            <br class="spacer"><span>
              <img
              src="{% static 'images/wh.png' %}"
              alt="IDLOGO"
              style="width: 200px; height: 100px"
            />

          </span><br class="spacer"><span >({{mange.first_name}}   {{mange.last_name}})</span></div>
          <div class="grid-item" style="text-align: center;line-height: 2.5;"> <span >ผู้อนุมัติ</span>
            <br class="spacer"><span >
              <img
              src="{% static 'images/wh.png' %}"
              alt="IDLOGO"
              style="width: 200px; height: 100px"
            />

            </span>
            
            <br class="spacer"><span >(อ.เฉลิมชัย  หุ่นนนาครินทร์ )</span></div>
        </div>
      </td>
   
 
   
    </tr>
    <tr>
      <td colspan="8" style="text-align: center;">ฝ่ายบัญชี  Accept</td>
   
 
      
    </tr>
  </tbody>
</table>
</body>