{% extends 'base.html' %} {% block content %} {% load humanize %} {% load static %}


<div class="row">
  <div class="col-12 col-md-6 order-md-1 order-last">
    <h3>หลักสูตร</h3>
  </div>
  <div class="col-12 col-md-6 order-md-2 order-first">
    <nav
      aria-label="breadcrumb"
      class="breadcrumb-header float-start float-lg-end"
    >
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">หน้าหลัก</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/teachers">ครู - วิทยากร</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">เพิ่มข้อมูล</li>
      </ol>
    </nav>
  </div>
</div>

<section class="section">
  <div class="card">
    <div class="card-body">
      <form
        action="{% url 'teacher_form_create' %}"
        method="post"
        autocomplete="off"
        enctype="multipart/form-data"
       
      >
        {% csrf_token %} 
        <div style="padding-bottom: 15px">
          <img src="{% static "images/no-photo-available.png" %}"
          alt="อัพโหลดได้เฉพาะไฟล์รูปภาพ !" id="image-preview" width="256"
          height="256" class="rounded" />
        </div>
        {% for field in form %}
            <div class="form-group">
            {{field.label_tag }} <label style="color: red"> *</label> {{field }}
            </div>
        {% endfor %}

        <div class="row">
          <div class="col-4 col-lg-4 col-md-4">
            Level วิทยากร<label style="color: red"> *</label>
            <select class="form-select" id="py_wi" name="py_wi">
              <option value="1">
                 Basic
              </option>
              <option value="2">
                A
              </option>
              <option value="3">
                B
              </option>
              <option value="4">
                c
              </option>
            </select>
          </div>

          <div class="col-4 col-lg-4 col-md-4">
            ค่าตอบแทน  <label style="color: red"> *</label>
            <input type="text" class="form-control" name="count_hour_wi" id="count_hour_wi"    onkeydown="allowOnlyNumbers(event)" required/>
          </div>
          <div class="col-4 col-lg-4 col-md-4">
            รายละเอียด  <label style="color: red"> *</label>
            <input type="text" class="form-control" name="note_wi" id="note_wi"  required/>
          </div>
        </div>

        <div class="row">
          <div class="col-4 col-lg-4 col-md-4">
            Level  ครูฝึก<label style="color: red"> *</label>
            <select class="form-select" onchange="handleSelectChange(this)" id="py_pi" name="py_pi">
              <option value="1">
                 Basic
              </option>
              <option value="2">
                A
              </option>
              <option value="3">
                B
              </option>
              <option value="4">
                C
              </option>
            </select>
          </div>

          <div class="col-4 col-lg-4 col-md-4">
            ค่าตอบแทน  <label style="color: red"> *</label>
            <input type="text" class="form-control" name="count_hour_pi" id="count_hour_pi"    onkeydown="allowOnlyNumbers2(event)"  required/>
          </div>

          <div class="col-4 col-lg-4 col-md-4">
            รายละเอียด  <label style="color: red"> *</label>
            <input type="text" class="form-control" name="note_pi" id="note_pi"  required/>
          </div>
        </div>


        <div class="row">
          <div class="col-4 col-lg-4 col-md-4">
            Level  ผู้ช่วยวิทยากร<label style="color: red"> *</label>
            <select class="form-select" onchange="handleSelectChange(this)" id="py_help" name="py_help">
              <option value="1">
                 Basic
              </option>
              <option value="2">
                A
              </option>
              <option value="3">
                B
              </option>
              <option value="4">
                C
              </option>
            </select>
          </div>

          <div class="col-4 col-lg-4 col-md-4">
            ค่าตอบแทน  <label style="color: red"> *</label>
            <input type="text" class="form-control" name="count_hour_help" id="count_hour_help"    onkeydown="allowOnlyNumbers3(event)"  required/>
          </div>

          <div class="col-4 col-lg-4 col-md-4">
           รายละเอียด  <label style="color: red"> *</label>
            <input type="text" class="form-control" name="note_help" id="note_help"  required/>
          </div>
        </div>
      

      
        <div style="padding-top: 25px" align="center">
          <button type="submit" class="btn btn-primary ml-1">
            <i class="bx bx-check d-block d-sm-none"></i>
            <span class="d-none d-sm-block">บันทึก</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>


<script>


  function allowOnlyNumbers(event) {

   
    // Allow: Backspace, Tab, Arrow keys, Delete
    if (
        event.key === "Backspace" || 
        event.key === "Tab" || 
        event.key === "ArrowLeft" || 
        event.key === "ArrowRight" || 
        event.key === "Delete"
    ) {
        return true; // Allow default behavior
    }

    // Allow only numbers (0-9)
    if (!/^\d$/.test(event.key)) {
        event.preventDefault(); // Block other characters
        return false; // Prevent default behavior
    }



  setTimeout(() => {
   const it = document.getElementById("count_hour_wi").value;
    if (it.charAt(0) == "0") {
      let result = removeFirstCharacter(it);
      document.getElementById("count_hour_wi").value = result 
     // return it.slice(0); // Removes the first character
    }

  }, 20);

}

function allowOnlyNumbers2(event) {

   
  // Allow: Backspace, Tab, Arrow keys, Delete
  if (
      event.key === "Backspace" || 
      event.key === "Tab" || 
      event.key === "ArrowLeft" || 
      event.key === "ArrowRight" || 
      event.key === "Delete"
  ) {
      return true; // Allow default behavior
  }

  // Allow only numbers (0-9)
  if (!/^\d$/.test(event.key)) {
      event.preventDefault(); // Block other characters
      return false; // Prevent default behavior
  }





setTimeout(() => {
 const it = document.getElementById("count_hour_pi").value;
  if (it.charAt(0) == "0") {
    let result = removeFirstCharacter(it);
    document.getElementById("count_hour_pi").value = result 
   // return it.slice(0); // Removes the first character
  }

}, 20);

}


function allowOnlyNumbers3(event) {

   
  // Allow: Backspace, Tab, Arrow keys, Delete
  if (
      event.key === "Backspace" || 
      event.key === "Tab" || 
      event.key === "ArrowLeft" || 
      event.key === "ArrowRight" || 
      event.key === "Delete"
  ) {
      return true; // Allow default behavior
  }

  // Allow only numbers (0-9)
  if (!/^\d$/.test(event.key)) {
      event.preventDefault(); // Block other characters
      return false; // Prevent default behavior
  }





setTimeout(() => {
 const it = document.getElementById("count_hour_help").value;
  if (it.charAt(0) == "0") {
    let result = removeFirstCharacter(it);
    document.getElementById("count_hour_help").value = result 
   // return it.slice(0); // Removes the first character
  }

}, 20);

}

  document.addEventListener("DOMContentLoaded", function () {
    var fileInput = document.getElementById("id_teacher_cover");
    fileInput.addEventListener("change", function () {
      // Get the selected file
      var file = fileInput.files[0];

      // Perform your action here, such as displaying a preview of the selected image
      if (file) {
        var reader = new FileReader();
        reader.onload = function (e) {
          var preview = document.getElementById("image-preview");
          preview.src = e.target.result;
        };
        reader.readAsDataURL(file);
      }
    });
  });

  function removeFirstCharacter(str) {
    return str.substring(1);
  }
  
</script>
{% endblock %}
