{% extends 'base.html' %} {% block content %}
<style>
  .center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color: #f0f0f0;
    /* Light gray background */
  }

  .button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    /* Blue color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .button:hover {
    background-color: #0056b3;
    /* Darker blue on hover */
  }
</style>
<script>


  function calen() {

    var calendarEl = document.getElementById("calendar");

    var teacher = document.getElementById("teacher_id").value;


    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: "prev,next today",
        center: "title",
        right: "dayGridMonth,timeGridWeek,timeGridDay,listMonth",
      },
      {% comment %} initialDate: "2020-09-12", {% endcomment %}
  locale: "th",
    buttonIcons: false, // show the prev/next text
      weekNumbers: true,
        navLinks: true, // can click day/week names to navigate views
          editable: false,
            dayMaxEvents: true, // allow "more" link when too many events
              events: {

    url: "/api/calendar_event_api2/" + teacher,
    success: function (response) {
     console.log(response);
      $('#cardContainer').empty(); // Clear previous cards
      $.each(response, function (index, card) {

        if(card.evs_status == 'Y'){
  
  if(card.show == 1){
    var $mainCard1 = $('<div class="col-6 col-md-6 col-sm-6 col-xs-6" style="border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;"></div>')
    var $mainCard2 = $('<div class="card mb-3"></div>')
    var $mainCard3 = $('<div class="row g-0"></div>')
    var $mainCard4 = $('<div class="col-1 col-md-1 col-sm-1 col-xs-1" style="padding: 15px;border-right: 3px solid #f5ecea;"></div>')
    $mainCard4.append(`<p class="card-text" style="text-align: center;">${card.day}</p>`);
    $mainCard4.append(`<p class="card-text" style="text-align: center;">${card.daynum}</p>`);

    var $mainCard5 = $('<div class="col-9 col-md-9 col-sm-9 col-xs-9"></div>')
    var $mainCard6 = $('<div class="card-body"></div>')
    $mainCard6.append(`<span> วันที่เริ่ม ${card.start}  ถึง  ${card.end}</span>`);
    $mainCard6.append(`<p>${card.title} </p>`);
  
    $mainCard5.append($mainCard6);
    $mainCard3.append($mainCard4);
    $mainCard3.append($mainCard5);
    $mainCard2.append($mainCard3);
    $mainCard1.append($mainCard2);

    $.each(card.teach, function (i, item) {
      if(item.status == 'W'){
        $mainCard6.append("<p>" + item.fname + '-' + item.lname + '-' + item.pay_name + '-' + "<span style= 'color:#e2360c'> รอยันยัน</span></p>");
      }
      if(item.status == 'Y'){
        $mainCard6.append("<p>" + item.fname + '-' + item.lname + '-' + item.pay_name + '-' + "<span style='color:#4be01b'> ยันยันแล้ว</span></p>");
      }
  
    });

    $("#cardContainer").append($mainCard1);

 
 
  }

  if(card.show == 0){
    $('#cardContainer').append(`
                        <div class="col-6 col-md-6 col-sm-6 col-xs-6" style="border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
  <div class="card mb-3">
  <div class="row g-0">
     <div class="col-1 col-md-1 col-sm-1 col-xs-1" style="
      padding: 15px;
      border-right: 3px solid #f5ecea;
  ">
       <p class="card-text" style="text-align: center;">${card.day}</p>
       <p class="card-text" style="text-align: center;">${card.daynum}</p>
      </div>
      <div class="col-9 col-md-9 col-sm-9 col-xs-9">
        <div class="card-body">
          
          <span> วันที่เริ่ม ${card.start}  ถึง  ${card.end}</span>
          <p>${card.title} </p>
        </div>
      </div>
      <div class="col-2 col-md-2 col-sm-2 col-xs-2" style="padding: 5px;
      display: grid
  ;">
   
       
      </div>
   
    </div>
  </div>
</div>
</div>
                            `);
  }
  


}
 
      });
    },
      failure: function () {
        document.getElementById("msg").innerHTML = "..เชื่อมต่อ API ไม่ได้";
      },
  },
  eventClick: function(info) {
    document.getElementById('eventModalLabel').innerText = info.event.title;

    document.getElementById("evs_id").value = info.event.extendedProps.evs_id
    document.getElementById("evs_status").value = info.event.extendedProps.evs_status

    if (info.event.extendedProps.evs_status == 'Y') {
      document.getElementById('bt_confirm').style.display = 'none';
    }
    if (info.event.extendedProps.evs_status == 'W') {
      const eventModal = new bootstrap.Modal(document.getElementById('eventModal'));
      eventModal.show();
      document.getElementById('bt_confirm').style.display = 'block';
    }
    // Populate modal with event data

  },
    });

  calendar.render();
}
  document.addEventListener("DOMContentLoaded", function () {
    var calendarEl = document.getElementById("calendar");

    var teacher = document.getElementById("teacher_id").value;


    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: "prev,next today",
        center: "title",
        right: "dayGridMonth,timeGridWeek,timeGridDay,listMonth",
      },
      {% comment %} initialDate: "2020-09-12", {% endcomment %}
    locale: "th",
    buttonIcons: false, // show the prev/next text
    weekNumbers: true,
    navLinks: true, // can click day/week names to navigate views
    editable: false,
    dayMaxEvents: true, // allow "more" link when too many events

    events: {

    url: "/api/calendar_event_api2/" + teacher,
    success: function (response) {
      console.log(response);
     
      $('#cardContainer').empty(); // Clear previous cards
      $.each(response, function (index, card) {
       
if(card.evs_status == 'Y'){
  
  if(card.show == 1){
    var $mainCard1 = $('<div class="col-6 col-md-6 col-sm-6 col-xs-6" style="border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;"></div>')
    var $mainCard2 = $('<div class="card mb-3"></div>')
    var $mainCard3 = $('<div class="row g-0"></div>')
    var $mainCard4 = $('<div class="col-1 col-md-1 col-sm-1 col-xs-1" style="padding: 15px;border-right: 3px solid #f5ecea;"></div>')
    $mainCard4.append(`<p class="card-text" style="text-align: center;">${card.day}</p>`);
    $mainCard4.append(`<p class="card-text" style="text-align: center;">${card.daynum}</p>`);

    var $mainCard5 = $('<div class="col-9 col-md-9 col-sm-9 col-xs-9"></div>')
    var $mainCard6 = $('<div class="card-body"></div>')
    $mainCard6.append(`<span> วันที่เริ่ม ${card.start}  ถึง  ${card.end}</span>`);
    $mainCard6.append(`<p>${card.title} </p>`);
  
    $mainCard5.append($mainCard6);
    $mainCard3.append($mainCard4);
    $mainCard3.append($mainCard5);
    $mainCard2.append($mainCard3);
    $mainCard1.append($mainCard2);

    $.each(card.teach, function (i, item) {
      if(item.status == 'W'){
        $mainCard6.append("<p>" + item.fname + '-' + item.lname + '-' + item.pay_name + '-' + "<span style= 'color:#e2360c'> รอยันยัน</span></p>");
      }
      if(item.status == 'Y'){
        $mainCard6.append("<p>" + item.fname + '-' + item.lname + '-' + item.pay_name + '-' + "<span style='color:#4be01b'> ยันยันแล้ว</span></p>");
      }
  
    });

    $("#cardContainer").append($mainCard1);

 
 
  }

  if(card.show == 0){
    $('#cardContainer').append(`
                        <div class="col-6 col-md-6 col-sm-6 col-xs-6" style="border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
  <div class="card mb-3">
  <div class="row g-0">
     <div class="col-1 col-md-1 col-sm-1 col-xs-1" style="
      padding: 15px;
      border-right: 3px solid #f5ecea;
  ">
       <p class="card-text" style="text-align: center;">${card.day}</p>
       <p class="card-text" style="text-align: center;">${card.daynum}</p>
      </div>
      <div class="col-9 col-md-9 col-sm-9 col-xs-9">
        <div class="card-body">
          
          <span> วันที่เริ่ม ${card.start}  ถึง  ${card.end}</span>
          <p>${card.title} </p>
        </div>
      </div>
      <div class="col-2 col-md-2 col-sm-2 col-xs-2" style="padding: 5px;
      display: grid
  ;">
   
       
      </div>
   
    </div>
  </div>
</div>
</div>
                            `);
  }
  


}
 
      });
    },
    failure: function () {
      document.getElementById("msg").innerHTML = "..เชื่อมต่อ API ไม่ได้";
    },
  },
    eventClick: function (info) {
 

      document.getElementById('eventModalLabel').innerText = info.event.title;
      document.getElementById("evs_id").value = info.event.extendedProps.evs_id
      document.getElementById("evs_status").value = info.event.extendedProps.evs_status

      if (info.event.extendedProps.evs_status == 'Y') {
        document.getElementById('bt_confirm').style.display = 'none';
      }
      if (info.event.extendedProps.evs_status == 'W') {
        const eventModal = new bootstrap.Modal(document.getElementById('eventModal'));
        eventModal.show();
        document.getElementById('bt_confirm').style.display = 'block';
      }
      // Populate modal with event data

    },
    });
  calendar.render();
  });

  function showAlert() {
    alert('Button clicked!');
  }

  async function ConfirmJob() {
    const it = document.getElementById("evs_id").value;
    fetch('/api/updateeve', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ 'evs_id': it })
    })
      .then(response => response.json())
      .then(data => {
        // Display response
        calendar.render();
      })
      .catch(error => {
        console.error('Error:', error);
      });


  }

  function confirm() {

    const it = document.getElementById("evs_id").value;
    fetch('/api/updateeve', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ 'evs_id': it })
    })
      .then(response => response.json())
      .then(data => {
        // Display response
        console.log(data);
        setTimeout(calen(), 1000); // Executes after 3 seconds
      })
      .catch(error => {
        console.error('Error:', error);
      });
   
    setTimeout(calen(), 1000); // Executes after 3 seconds
  }
</script>

<div class="row">
  <div class="col-12 col-md-6 order-md-1 order-last">
    <h3>ตารางหลักสูตรอบรม</h3>
  </div>
  <div class="col-12 col-md-6 order-md-2 order-first">
    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">หน้าหลัก</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          ตารางหลักสูตรอบรม
        </li>
      </ol>
    </nav>
  </div>
</div>
<input type="hidden" class="form-control" name="teacher_id" id="teacher_id" value="{{teacher_id}}" />
<section class="section">
  <div class="card">
    <div class="card-body">
      <span id="msg" style="color: red"></span>
      <div id="calendar"></div>
    </div>
  </div>
</section>
<div class="row"  id="cardContainer">



</div>


<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <input type="hidden" class="form-control" name="evs_id" id="evs_id" value="" />
      <input type="hidden" class="form-control" name="evs_status" id="evs_status" value="" />
      <!-- <div class="modal-body">
        <input type="hidden" class="form-control" name="evs_id" id="evs_id" value="" />
        <input type="hidden" class="form-control" name="evs_status" id="evs_status" value="" />

        <p><strong>Title:</strong> <span id="modalTitle"></span></p>
        <p><strong>Start:</strong> <span id="modalStart"></span></p>
        <p><strong>End:</strong> <span id="modalEnd"></span></p>
      </div> -->
      <div class="modal-footer" id="bt_confirm">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="confirm()">รับงาน</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}