{% extends 'base.html' %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>



   const existingRadio = document.getElementById('existing');
        const newRadio = document.getElementById('new');
        const existingOption = document.getElementById('existing-option');
        const newOption = document.getElementById('new-option');
        const existingForm = document.getElementById('existingCustomerForm');
        const newForm = document.getElementById('newCustomerForm');
        const customerSearch = document.getElementById('customerSearch');
        const searchResults = document.getElementById('searchResults');
        const form = document.getElementById('customerForm');

    function selectCus(x) {
 showExistingForm(x);
    }


function validateForm() {

 

  const languageRadios = document.getElementsByName('customerType');

            // 2. อ้างอิงถึง Element ที่จะใช้แสดงผลลัพธ์
            const displayElement = document.getElementById('selectedLanguageDisplay');
 let selectedValue = null;
            // 3. วนลูปผ่าน NodeList เพื่อเพิ่ม Event Listener ให้กับแต่ละ Radio button
            for (let i = 0; i < languageRadios.length; i++) {
                // เพิ่ม 'change' event listener
                // 'change' event จะถูก fire เมื่อสถานะ checked ของ input เปลี่ยนไป
  if (languageRadios[i].checked) {
                    selectedValue = languageRadios[i].value;
                    break; // เมื่อเจอตัวที่ถูกเลือกแล้ว ก็ออกจากลูปทันที
                }
            }



if(selectedValue != null){
  if(selectedValue == 'existing'){  
   const customer_id = document.getElementById('customer_id').value;

   

    if(customer_id){

      console.log('ไปกันต่อ');

    return true
   
    }else {
            Swal.fire({
       title: 'เลือกลูกค้า',
       text: 'Select Customer',
       icon: 'error',
     confirmButtonText: 'OK'
    });
    }

  }

   if(selectedValue == 'new'){ 

    const student_firstname_th = document.getElementById('student_firstname_th').value;
    const student_lastname_th = document.getElementById('student_lastname_th').value;
    const customer_tax = document.getElementById('customer_tax').value;
    const customer_phone = document.getElementById('customer_phone').value;
    const customer_email = document.getElementById('customer_email').value;
    const customer_address = document.getElementById('customer_address').value;
    const location_id = document.getElementById('selLocations').value;

    if((student_firstname_th) && (student_lastname_th) && (customer_phone) && (customer_address) && (location_id)){
return true
    }else {
      if(!student_firstname_th){
        Swal.fire({
       title: 'กรุณากรอกข้อมูลให้ถูกต้อง',
       text: 'ชื่อ',
       icon: 'error',
     confirmButtonText: 'OK'
    });
        return false;
      }

      if(!student_lastname_th){
        Swal.fire({
       title: 'กรุณากรอกข้อมูลให้ถูกต้อง',
       text: 'นามสกุล',
       icon: 'error',
     confirmButtonText: 'OK'
    });
        return false;
      }

      if(!customer_phone){
        Swal.fire({
       title: 'กรุณากรอกข้อมูลให้ถูกต้อง',
       text: 'เบอร์โทร',
       icon: 'error',
     confirmButtonText: 'OK'
    });
        return false;
      }

            if(!customer_address){
        Swal.fire({
       title: 'กรุณากรอกข้อมูลให้ถูกต้อง',
       text: 'ที่อยู่เลขที่',
       icon: 'error',
     confirmButtonText: 'OK'
    });
        return false;
      }

      if(!location_id){
        Swal.fire({
       title: 'กรุณาเลือกที่อยู่',
       text: 'ตำบล-อำเภอ-จังหวัด-ไปรษณีย์',
       icon: 'error',
     confirmButtonText: 'OK'
    });
        return false;
      }
      
    }

  }
   return false; 
}
else {
      Swal.fire({
       title: 'เลือกข้อมูลลูกค้า',
       text: 'Select Data Customer',
       icon: 'error',
     confirmButtonText: 'OK'
    });
}

 
 return false; 

 
}



    $(document).ready(function () {
    // Initialize Select2


            $(".select2").select2({
              
          placeholder: "เลือกข้อมูล",
          allowClear: true,
        });
  });


         function showExistingForm(x) {
            const existingForm = document.getElementById('existingCustomerForm');
            const newForm = document.getElementById('newCustomerForm');
        
       
          if(x == 'new'){
            existingForm.classList.remove('show');
            existingForm.classList.add('hidden');
    
            newForm.classList.remove('hidden');
            newForm.classList.add('show');
   

          }else {


            existingForm.classList.add('show');
            existingForm.classList.remove('hidden');


             newForm.classList.remove('show');
            newForm.classList.add('hidden');


    

          }


        }
        
  function setBillName() {
    let student_firstname_th = document.getElementById(
      "student_firstname_th"
    ).value;
    let student_lastname_th = document.getElementById(
      "student_lastname_th"
    ).value;
    document.getElementById("customer_name").value =
      student_firstname_th + " " + student_lastname_th;
  }




  var myVar = null;

  function start_read_test() {
    myStopFunctionTest();
    myVar = setInterval(load_dataTest, 1500);
  }

  function myStopFunctionTest() {
    clearInterval(myVar);
  }

  async function load_dataTest() {
    let myObject = await fetch("{{api_id_card}}");
    let jsondata = await myObject.text();
    var data = jsondata.substr(13, jsondata.length - 14);
    //let jdata = JSON.parse(data);

     document.getElementById("result_id_card").value= data;
     document.getElementById("read_id_card").submit();
  }


  async function myFunction(selectElement) {
  
const selectedValue = selectElement.value;



    let data = await fetch('/api/customer', {
      method: 'POST',
      headers: {
          'Content-Type': 'application/json',
      },
      body: JSON.stringify({'customer_id':selectedValue})
      })
      .then(response => response.json())
      .then(data => {

        document.getElementById("customer_address").value= data.customer_address;

      })
      
  }

</script>
<style scoped>

        .form-section {
            margin-bottom: 25px;
            padding: 30px;
            background: rgba(255, 255, 255, 0.8);
           
            transition: all 0.4s ease;
            transform: translateY(0);
            opacity: 1;
        }

       .form-section.hidden {
            display: none;
            transform: translateY(-20px);
            opacity: 0;
        }

        .form-section.show {
            display: block;
            animation: slideIn 0.5s ease-out;
        }
        .select2-selection.select2-selection--single {
    width: 700px !important; /* ใช้ !important หากมี CSS อื่นที่ขัดแย้ง */
}
</style>
<div class="row">
  <div class="col-12 col-md-6 order-md-1 order-last">
   
   
  </div>
  <div class="col-12 col-md-6 order-md-2 order-first">
    <nav
      aria-label="breadcrumb"
      class="breadcrumb-header float-start float-lg-end"
    >
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">หน้าหลัก</a>
        </li>
     
      </ol>
    </nav>
  </div>
</div>

<section class="section">
  <div class="card">
xxx
                </div>
 
    </div>
  </div>
  
</section>

{% endblock %}
