{% extends 'base.html' %} {% block content %}
<script>
  function set_close_the_sale(register_id) {
    document.getElementById("register_id_update").value = register_id;
  }

  function cancle_register(register_id) {
    document.getElementById("register_id_delete").value = register_id;
  }
  function default_date() {
    const d = new Date();
    let month = d.getMonth() + 1;
    let year = d.getFullYear();
    let formattedNumberMonth = month.toLocaleString("en-US", {
      minimumIntegerDigits: 2,
      useGrouping: false,
    });

    const url = new URL(location.href);
    //alert(url.searchParams.get("qmonths"));
    let qmonth = url.searchParams.get("qmonths");
    let qyear = url.searchParams.get("qyear");
    if (qmonth !== null && qyear !== null) {
      document.getElementById("qmonths").value = qmonth;
      document.getElementById("qyear").value = qyear;
    } else {
      document.getElementById("qmonths").value = formattedNumberMonth;
      document.getElementById("qyear").value = year;
    }
  }

  window.onload = default_date;
</script>
<div class="row">
  <div class="col-12 col-md-6 order-md-1 order-last">
    <h3>ดำเนินการ</h3>
  </div>
  <div class="col-12 col-md-6 order-md-2 order-first">
    <nav
      aria-label="breadcrumb"
      class="breadcrumb-header float-start float-lg-end"
    >
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">หน้าหลัก</a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">ดำเนินการ</li>
      </ol>
    </nav>
  </div>
</div>

<section class="section">
  <div class="card">
    <div class="card-body">
      <form method="get" action="/register/report" autocomplete="off">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <select class="form-select" id="qmonths" name="qmonths">
              <option value="01">มกราคม</option>
              <option value="02">กุมภาพันธ์</option>
              <option value="03">มีนาคม</option>
              <option value="04">เมษายน</option>
              <option value="05">พฤษภาคม</option>
              <option value="06">มิถุนายน</option>
              <option value="07">กรกฎาคม</option>
              <option value="08">สิงหาคม</option>
              <option value="09">กันยายน</option>
              <option value="10">ตุลาคม</option>
              <option value="11">พฤศจิกายน</option>
              <option value="12">ธันวาคม</option>
            </select>
          </div>

          <div class="col-lg-3 col-md-6">
            <input
              type="number"
              class="form-control"
              id="qyear"
              name="qyear"
              required
              placeholder="ปี (ค.ศ.)"
            />
          </div>
          <div class="col-lg-3 col-md-6">
            <button type="submit" class="btn btn-success">
              <i class="icon dripicons-experiment"></i>
              กรอง
            </button>
          </div>
        </div>
      </form>

      <table class="table table-striped" id="table1">
        <thead>
          <tr>
            <th>ลำดับ</th>
            <th>เลขที่ใบสมัคร</th>
            <th>หลักสูตร</th>
            <th>ชื่อลูกค้า</th>
            <th>ประเภทลูกค้า</th>
            <th>ประเภทการชำระเงิน</th>
            <th>ปิดการขาย</th>
            <th>วันที่ลงทะเบียน</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          {% for res in data %}
          <tr>
            <td align="center">{{ forloop.counter }}</td>
            <td>{{res.customer_list.register.register_number}}</td>
            <td>{{res.course_list.course.course_name}}</td>
            <td>{{res.customer_list.customer_name}}</td>
            <td align="center">
              {% if res.customer_list.register.customer_type == 1 %}

              <span class="badge bg-success">บุคคล</span>
              {% else %}
              <span class="badge bg-info">บริษัท</span>
              {% endif %}
            </td>
            <td align="center">
              {% if res.customer_list.register.pay_type == 1 %}

              <span class="badge bg-success">เงินสด</span>
              {% else %}
              <span class="badge bg-danger">เครดิต</span>
              {% endif %}
            </td>

            <td align="center">
              {% if res.customer_list.register.close_the_sale == 1 %}
              <span class="badge bg-success">ปิดการขาย - ขายสำเร็จ</span>
              {% elif res.customer_list.register.close_the_sale == 2 %}
              <span class="badge bg-danger">ปิดการขาย - ขายไม่สำเร็จ</span>
              {% else %}
              <span class="badge bg-warning">กำลังขาย</span>
              {% endif %}
            </td>

            <td>{{res.customer_list.register.crt_date|date:"d/m/Y H:i"}}</td>
            <td>
              {% comment %} {{res.total_payment}} {% endcomment %}

              <div class="btn-group me-1 mb-1">
                <div class="dropdown">
                  <button
                    class="btn btn-primary btn-sm dropdown-toggle"
                    type="button"
                    id="dropdownMenuButtonIcon"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="icon dripicons-checklist"></i>
                  </button>
                  <div class="dropdown-menu">
                    <a
                      class="dropdown-item"
                      href="/register/payment/history/{{res.customer_list.register_id}}"
                    >
                      {% if res.customer_list.register.pay_type == 1 %} ใบเสร็จ
                      {% else %} ใบเสนอราคา {% endif %}
                    </a>
                    {% if res.customer_list.register.close_the_sale < 1 %}
                    <a
                      class="dropdown-item"
                      href="#"
                      data-bs-toggle="modal"
                      data-bs-target="#UpdateClick"
                      onclick="set_close_the_sale('{{res.customer_list.register_id}}')"
                      >ปิดการขาย</a
                    >
                    {% endif %}
                    <a
                      class="dropdown-item"
                      href="/register/detail/{{res.customer_list.register_id}}"
                      >รายละเอียดการสมัคร</a
                    >
                    {% if res.customer_list.register.close_the_sale == 1 %}
                    <a
                      class="dropdown-item"
                      href="/register/studentlist/{{res.customer_list.register_id}}"
                      >จัดการผู้เข้าอบรมและออกใบรับรอง
                    </a>

                    {% else %}
                    <a
                      class="dropdown-item"
                      href="#"
                      data-bs-toggle="modal"
                      data-bs-target="#DeleteClick"
                      onclick="cancle_register('{{res.customer_list.register_id}}')"
                      >ยกเลิกใบสมัคร
                    </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

<div class="modal fade text-left" id="UpdateClick">
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title white" id="myModalLabel160">
          ปรับสถานะ ปิดการขาย
        </h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i data-feather="x"></i>
        </button>
      </div>
      <form
        action="{% url 'UpdateCloseTheSale' %}"
        method="post"
        autocomplete="off"
      >
        {% csrf_token %}
        <input
          type="hidden"
          id="register_id_update"
          name="register_id"
          required
        />
        <div class="modal-body">
          <div class="form-group">
            <label>ยืนยันราคา (ตัวอย่าง 25000)</label>
            <label style="color: red">*</label>
            <input
              type="text"
              id="confirm_price"
              name="confirm_price"
              required
              class="form-control"
              pattern="[0-9.]+"
            />
            <p>
              <small class="text-muted">ยืนยันราคาให้ตรงกับใบเสนอราคา</small>
            </p>
          </div>

          <div class="form-group">
            <label>ปิดการขาย</label> <label style="color: red">*</label>
            <select
              class="form-control"
              name="close_the_sale"
              id="close_the_sale"
              required
            >
              <option value="">-เลือกสถานะ-</option>
              <option value="1">ปิดการขาย - ขายสำเร็จ</option>
              <option value="2">ปิดการขาย - ไม่ขายสำเร็จ</option>
            </select>
          </div>
          <p id="datecrt"></p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-light-secondary"
            data-bs-dismiss="modal"
          >
            <i class="bx bx-x d-block d-sm-none"></i>
            <span class="d-none d-sm-block">ยกเลิก</span>
          </button>
          <button type="submit" class="btn btn-primary ml-1">
            <i class="bx bx-check d-block d-sm-none"></i>
            <span class="d-none d-sm-block">บันทึก</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% comment %} Delete {% endcomment %}
<div class="modal fade" id="DeleteClick">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title white" id="myModalLabel19">ลบ</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i data-feather="x"></i>
        </button>
      </div>
      <form action="{% url 'CancleRegister' %}" method="post">
        <div class="modal-body">
          {% csrf_token %}
          <input
            type="hidden"
            name="register_id"
            id="register_id_delete"
            required
          />
          <div align="center">
            <h4>ยืนยันการลบข้อมูล</h4>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-light-secondary"
              data-bs-dismiss="modal"
            >
              <i class="bx bx-x d-block d-sm-none"></i>
              <span class="d-none d-sm-block">ยกเลิก</span>
            </button>
            <button type="submit" class="btn btn-primary ml-1">
              <i class="bx bx-check d-block d-sm-none"></i>
              <span class="d-none d-sm-block">ยืนยันการลบ</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
