

{% extends 'base.html' %} {% block content %} {% load humanize %} {% load static %}
<script>


  document.addEventListener("DOMContentLoaded", function () {
    var fileInput = document.getElementById("image_cover");
    console.log(fileInput)
    fileInput.addEventListener("change", function () {
      // Get the selected file
      var file = fileInput.files[0];

      // Perform your action here, such as displaying a preview of the selected image
      if (file) {
        var reader = new FileReader();
        reader.onload = function (e) {
          const base64String = e.target.result; // The Base64 string
          var preview = document.getElementById("image-preview");
          document.getElementById("image_cover_data").value = base64String
          
          preview.src = e.target.result;
        };
        reader.readAsDataURL(file);
      }
    });
  });



  function removeFirstCharacter(str) {
    return str.substring(1);
  }
  var myVar = null;

  function start_read_test() {
    myStopFunctionTest();
    myVar = setInterval(load_dataTest, 1500);
  }

  function myStopFunctionTest() {
    clearInterval(myVar);
  }

  async function load_dataTest() {
    let myObject = await fetch("{{api_id_card}}");

    let jsondata = await myObject.text();

    var data = jsondata.substr(13, jsondata.length - 14);
    let jdata = JSON.parse(data);
  

    if (jdata?.TitleNameTh === "" || jdata?.TitleNameTh === undefined) {
      document.getElementById("error_load").innerHTML =
        "ไม่สามารถเชื่อมต่อกับเครื่องอ่านบัตรได้!";
      return false;
    }
    console.log(jdata?.Photo)
    let pic = base64ToDataURL(jdata?.Photo)
    var preview = document.getElementById("image-preview");
    document.getElementById("image_cover_data").value = pic
    preview.src = pic;
    document.getElementById("reg_prefix_thai").value = jdata?.TitleNameTh;
    document.getElementById("reg_name_thai").value = jdata?.FirstNameTh;
    document.getElementById("reg_lname_thai").value = jdata?.LastNameTh;
    document.getElementById("reg_prefix_eng").value = jdata?.TitleNameEn;
    document.getElementById("reg_name_eng").value = jdata?.FirstNameEn;
    document.getElementById("reg_lname_eng").value = jdata?.LastNameEn;
    document.getElementById("tax_id").value = jdata?.CitizenNo;


    // const formattedDate = formatDateFromDays(jdata?.BirthDate);
  
    // document.getElementById("birthday").value = formatDate(jdata?.BirthDate);

    document.getElementById("address_card").value = jdata?.HomeNo;
    document.getElementById("road_card").value = jdata?.Road;
    document.getElementById("village_card").value = jdata?.Moo;
    document.getElementById("subdistrict_card").value = jdata?.Tumbol;
    document.getElementById("district_card").value = jdata?.Amphur;
    document.getElementById("province_card").value = jdata?.Province;



  }

  function base64ToDataURL(base64String, mimeType = 'image/jpeg') {
  return `data:${mimeType};base64,${base64String}`;
}


  function formatDateFromDays(daysSinceEpoch) {
  if (!daysSinceEpoch) return "";

  // สมมติว่า daysSinceEpoch คือจำนวนวันตั้งแต่ 1 มกราคม 1970
  const millisecondsPerDay = 24 * 60 * 60 * 1000;
  const epochStartDate = new Date(0); // 1 มกราคม 1970

  // คำนวณวันที่เป็น milliseconds นับตั้งแต่ epoch
  const dateInMilliseconds = epochStartDate.getTime() + (daysSinceEpoch * millisecondsPerDay);

  // สร้าง Date object จาก milliseconds
  const dateObject = new Date(dateInMilliseconds);

  const year = dateObject.getFullYear();
  const month = String(dateObject.getMonth() + 1).padStart(2, '0');
  const day = String(dateObject.getDate()).padStart(2, '0');

  return `${year}-${month}-${day}`;
}

function formatDate(dateString) {
    if (!dateString) return "";

    const dateObject = new Date(dateString);

    const year = dateObject.getFullYear();
    const month = String(dateObject.getMonth() + 1).padStart(2, '0');
    const day = String(dateObject.getDate()).padStart(2, '0');

    return `${year}-${month}-${day}`;
}

</script>

<div class="row">
  <div class="col-12 col-md-6 order-md-1 order-last">
    <h3>รายละเอียดการสมัคร</h3>
  </div>
  <div class="col-12 col-md-6 order-md-2 order-first">
    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">หน้าหลัก</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/register/management">รายงาน</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          รายละเอียดการสมัคร
        </li>
      </ol>
    </nav>
  </div>
</div>

<section class="section">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">ข้อมูลการสมัคร</h5>

      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="form-group">
            <label>หลักสูตร</label>
            <h4>
              {{content_course.course_name}}
           
            </h4>
          </div>
        </div>

        <div class="col-lg-6 col-md-6">
          <div class="form-group">
            <label>วันอบรม</label>
            <h4>
              {{content_course.ev_date_start}} ถึง
              {{content_course.ev_date_end}}
            </h4>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="form-group">
            <label>เลขใบสมัคร</label>
            <h4>{{content_regist.register_number}}</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="form-group">
            <label>ประเภทลูกค้า</label>
            {% if content_regist.customer_type == 1 %}

            <h4>บุคคล</h4>
            {% else %}
            <h4>บริษัท</h4>
            {% endif %}
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="form-group">
            <label>ประเภทการชำระเงิน</label>
            {% if content_regist.pay_type == 1 %}

            <h4>เงินสด</h4>
            {% else %}
            <h4>เครดิต</h4>
            {% endif %}
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="form-group">
            <label>ปิดการขาย</label>
            {% if content_regist.close_the_sale == 1 %}

            <h4 style="color: blue">ปิดการขาย - ขายสำเร็จ</h4>
            {% elif content_regist.close_the_sale == 2 %}

            <h4 style="color: red">ปิดการขาย - ขายไม่สำเร็จ</h4>
            {% else %}
            <h4>กำลังขาย</h4>

            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">ข้อมูลลูกค้า</h5>

      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="form-group">
            <label>รหัสลูกค้า</label>
            <h4>{{content_customer.customer_code}}</h4>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="form-group">
            <label>ชื่อลูกค้า</label>
            <h4>{{content_customer.customer_name}}</h4>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="form-group">
            <label>TAX ID</label>
            <h4>{{content_customer.customer_tax}}</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="form-group">
            <label>เบอร์โทร</label>
            <h4>{{content_customer.customer_phone}}</h4>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="form-group">
            <label>อีเมล</label>
            <h4>{{content_customer.customer_email}}</h4>
          </div>
        </div>

        <div class="col-lg-9 col-md-6">
          <div class="form-group">
            <label>ที่อยู่</label>
            <h5>
              {{content_customer.customer_address}} ตำแบล/แขวง
              {{content_customer.location.district_name}} อำเภอ/เขต
              {{content_customer.location.amphur_name}} จังหวัด
              {{content_customer.location.province_name}}
              {{content_customer.location.zipcode}}
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="card">
          <form
        action="/register/detail/update/{{content_learn.reg_id}}"
        method="post"
        autocomplete="off"
        enctype="multipart/form-data"
      >
        {% csrf_token %}

    <div class="card-body">
                 <div class="col-lg-12 col-md-12">
          <div align="right">
            <div class="btn-group mb-3">
   <button
                    type="button"
                    class="btn btn-secondary"
                    onclick="window.open('/register/print/formregister/{{content_learn.reg_id}}','','width=950,height=650'); return false;"
                  >
                    <i class="icon dripicons-print"></i>
                    พิมพ์
                  </button>
              <a class="btn btn-warning" href="{{api_id_card}}" target="_blank">
                เปิดสิทธิ์
              </a>
              <button
              type="submit"
              class="btn btn-info"
              form="create_form_idcard"
              onclick="start_read_test()"
            >
              <i class="icon dripicons-card" aria-hidden="true"></i>
              เครื่องอ่านบัตร
            </button>
            </div>
          </div>
        </div>
      <h5 class="card-title">ส่วนที่ 1 ข้อมูลส่วนบุคคลของผู้สมัคร</h5>
      <div class="row">
        <h5 class="card-title">1.ข้อมูลผู้สมัคร</h5>
        
        <div class="col-lg-12 col-md-12">
       
        <div style="padding-bottom: 15px">
         {% if content_learn.image_cover == '' %}
          <img src="{% static "images/no-photo-available.png" %}"
          alt="อัพโหลดได้เฉพาะไฟล์รูปภาพ !" id="image-preview"  width="115" height="125" class="rounded" />

        {% else %}
         <img src="{{content_learn.image_cover}}"
          alt="อัพโหลดได้เฉพาะไฟล์รูปภาพ !" id="image-preview"  width="115" height="125" class="rounded" />


        {% endif %}
        </div>
  <input type="file" name="image_cover" accept="image/*"  id="image_cover">


     <input type="hidden" name="image_cover_data"   id="image_cover_data" value="{{content_learn.image_cover}}">
                 
        </div>
    



    


   
        <div class="col-lg-4 col-md-4">
          <div class="form-group">
            <label>คำนำหน้า</label> <span style="color: red;"> ตัวอย่าง นาย</span>
            <input type="text" class="form-control" id="reg_prefix_thai" name="reg_prefix_thai" value="{{content_learn.reg_prefix_thai}}" required>
          </div>
        </div>

           <div class="col-lg-4 col-md-4">
          <div class="form-group">
            <label>ชื่อผู้สมัคร (ไทย)</label> <span style="color: red;"> ตัวอย่าง นายขุนพล</span>
            <input type="text" class="form-control" id="reg_name_thai" name="reg_name_thai" value="{{content_learn.reg_name_thai}}" required>
          </div>
        </div>

           <div class="col-lg-4 col-md-4">
          <div class="form-group">
            <label>นามสกุล (ไทย)</label> <span style="color: red;"> ตัวอย่าง นายขุนพล ศรีนป</span>
            <input type="text" class="form-control" id="reg_lname_thai" name="reg_lname_thai"  value="{{content_learn.reg_lname_thai}}" required>
          </div>
        </div>

        <div class="col-lg-4 col-md-4">
          <div class="form-group">
            <label>คำนำหน้า (อังกฤษ)</label> <span style="color: red;"> ตัวอย่าง misswesday josh</span>
            <input type="text" class="form-control" id="reg_prefix_eng" name="reg_prefix_eng"  value="{{content_learn.reg_prefix_eng}}" required>
          </div>
        </div>
            <div class="col-lg-4 col-md-4">
          <div class="form-group">
            <label>ชื่อ (อังกฤษ)</label> <span style="color: red;"> ตัวอย่าง misswesday josh</span>
            <input type="text" class="form-control" id="reg_name_eng" name="reg_name_eng" value="{{content_learn.reg_name_eng}}" required>
          </div>
        </div>
            <div class="col-lg-4 col-md-4">
          <div class="form-group">
            <label>นามสกุล (อังกฤษ)</label> <span style="color: red;"> ตัวอย่าง misswesday josh</span>
            <input type="text" class="form-control" id="reg_lname_eng" name="reg_lname_eng" value="{{content_learn.reg_lname_eng}}" required>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="form-group">
            <label>เลขบัตรประชาชน</label>
            <input type="text" class="form-control" id="tax_id" name="tax_id" value="{{content_learn.tax_id}}">
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="form-group">
            <label>วันที่เกิด</label>
            <input type="date" class="form-control" id="birthday" name="birthday"  value="{{content_learn.birthday}}">
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="form-group">
            <label>อายุ</label>
            <input type="text" class="form-control" id="age" name="age"  value="{{content_learn.age}}">
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="form-group">
            <label>ศาสนา</label>
            <input type="text" class="form-control" id="religion" name="religion"  value="{{content_learn.religion}}">
          </div>
        </div>


        <div class="col-lg-3 col-md-3">
          <div class="form-group">
            <label>หนังสือเดินทางเลขที่</label>
            <input type="text" class="form-control" id="passport_number" name="passport_number"  value="{{content_learn.passport_number}}">
          </div>
        </div>


        <div class="col-lg-3 col-md-3">
          <div class="form-group">
            <label>หมดอายุ วดป</label>
            <input type="date" class="form-control" id="expire_passport" name="expire_passport"  value="{{content_learn.expire_passport}}">
          </div>
        </div>
      </div>


      <div class="row">
        <h4 class="card-title">2.ที่อยู่ตามบัตรประชาชน</h4>
        <div class="col-lg-3 col-md-3">
          <div class="form-group">
            <label>บ้านเลขที่</label>
            <input type="text" class="form-control" id="address_card" name="address_card"  value="{{content_learn.address_card}}">
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="form-group">
            <label>ถนน</label>
            <input type="text" class="form-control" id="road_card" name="road_card" value="{{content_learn.road_card}}">
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="form-group">
            <label>หมู่ที่</label>
            <input type="text" class="form-control" id="village_card" name="village_card" value="{{content_learn.village_card}}">
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="form-group">
            <label>ตำบล/แขวง</label>
            <input type="text" class="form-control" id="subdistrict_card" name="subdistrict_card" value="{{content_learn.subdistrict_card}}">
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="form-group">
            <label>อำเภอ/เขต</label>
            <input type="text" class="form-control" id="district_card" name="district_card" value="{{content_learn.district_card}}">
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="form-group">
            <label>จังหวัด</label>
            <input type="text" class="form-control" id="province_card" name="province_card" value="{{content_learn.province_card}}">
          </div>
        </div>


        <div class="col-lg-3 col-md-3">
          <div class="form-group">
            <label>รหัสไปรษณีย์</label>
            <input type="text" class="form-control" id="zipcode_card" name="zipcode_card" value="{{content_learn.zipcode_card}}">
          </div>
        </div>
      </div>


          <div class="row">
        <h4 class="card-title">2.ที่อยู่ปัจจุบัน</h4>
        <div class="col-lg-3 col-md-3">
          <div class="form-group">
            <label>บ้านเลขที่</label>
            <input type="text" class="form-control" id="address_present" name="address_present"  value="{{content_learn.address_present}}">
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="form-group">
            <label>ถนน</label>
            <input type="text" class="form-control" id="road_present" name="road_present" value="{{content_learn.road_present}}">
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="form-group">
            <label>หมู่ที่</label>
            <input type="text" class="form-control" id="village_present" name="village_present" value="{{content_learn.village_present}}">
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="form-group">
            <label>ตำบล/แขวง</label>
            <input type="text" class="form-control" id="subdistrict_present" name="subdistrict_present" value="{{content_learn.subdistrict_present}}">
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="form-group">
            <label>อำเภอ/เขต</label>
            <input type="text" class="form-control" id="district_present" name="district_present" value="{{content_learn.district_present}}">
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="form-group">
            <label>จังหวัด</label>
            <input type="text" class="form-control" id="province_present" name="province_present" value="{{content_learn.province_present}}">
          </div>
        </div>


        <div class="col-lg-3 col-md-3">
          <div class="form-group">
            <label>รหัสไปรษณีย์</label>
            <input type="text" class="form-control" id="zipcode_present" name="zipcode_present" value="{{content_learn.zipcode_present}}">
          </div>
        </div>
      </div>



      <div class="row">
        <h4 class="card-title">3.การติดต่อ</h4>
        <div class="col-lg-4 col-md-4">
          <div class="form-group">
            <label>เบอร์โทร</label>
            <input type="text" class="form-control" id="tel_contact" name="tel_contact" value="{{content_learn.tel_contact}}">
          </div>
        </div>

        <div class="col-lg-4 col-md-4">
          <div class="form-group">
            <label>มือถือ</label>
            <input type="text" class="form-control" id="mobile_contact" name="mobile_contact" value="{{content_learn.mobile_contact}}">
          </div>
        </div>

        <div class="col-lg-4 col-md-4">
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" id="email_contact" name="email_contact" value="{{content_learn.email_contact}}">
          </div>
        </div>





      </div>


      <div class="row">
        <h4 class="card-title">4.บุคคลที่สามารถติดต่อได้</h4>
        <div class="col-lg-6 col-md-3">
          <div class="form-group">
            <label>ชื่อ-นามสกุล</label>
            <input type="text" class="form-control" id="reg_name_person" name="reg_name_person" value="{{content_learn.reg_name_person}}">
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="form-group">
            <label>ความสัมพันธ์</label>
            <input type="text" class="form-control" id="relationship_person" name="relationship_person" value="{{content_learn.relationship_person}}">
          </div>
        </div>


        <div class="col-lg-3 col-md-3">
          <div class="form-group">
            <label>เบอร์โทร</label>
            <input type="text" class="form-control" id="tel_person" name="tel_person" value="{{content_learn.tel_person}}">
          </div>
        </div>
      </div>


      <div class="row">
        <h4 class="card-title">5.การศึกษา</h4>
        
        <div class="col-lg-5 col-md-4">
          <div class="form-group">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="education" value="highschool" {% if 'highschool' in my_list %}checked{% endif %} >
              <label class="form-check-label" for="inlineCheckbox1">มัธยมปลาย/ปวช.</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="education" value="diploma" {% if 'diploma' in my_list %}checked{% endif %}>
              <label class="form-check-label" for="inlineCheckbox2">ปวส./อนุปริญญา </label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="education" value="degree" {% if 'degree' in my_list %}checked{% endif %}>
              <label class="form-check-label" for="inlineCheckbox2">ปริญญาตรี </label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" name="education" value="etc" {% if 'etc' in my_list %}checked{% endif %}>
              <label class="form-check-label" for="inlineCheckbox2">อื่นๆ </label>
            </div>
          </div>
        </div>

        <div class="col-lg-7 col-md-4">
          <div class="row g-3 align-items-center">

            <div class="col-lg-6">
              <input type="text" id="educa_etc"  name="educa_etc"  class="form-control"  value="{{content_learn.educa_etc}}">
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <h4 class="card-title">6.ความสามารถพิเศษ</h4>
        <div class="col-lg-12 col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" id="talent" name="talent" value="{{content_learn.talent}}">
          </div>
        </div>
      </div>


      <div class="row">
        <h4 class="card-title">7.ข่าวการสมัครเรียน</h4>
        <div class="col-lg-12 col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" id="news_from" name="news_from" value="{{content_learn.news_from}}">
          </div>
        </div>
      </div>

      <div class="row">
        <h4 class="card-title">8.การเจ็บป่วย</h4>
        <div class="col-lg-4 col-md-4">
          <div class="form-group">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="no"  {% if content_learn.Illness == 'no' %}checked{% endif %}>
              <label class="form-check-label" for="inlineRadio1">ไม่เคย</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="yes"   {% if content_learn.Illness == 'yes' %}checked{% endif %}>
              <label class="form-check-label" for="inlineRadio2">เคย</label>
            </div>
          </div>
        </div>

        <div class="col-lg-8 col-md-4">
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="inputPassword6" class="col-form-label"> ด้วยโรค</label>
            </div>
            <div class="col-lg-6">
              <input type="text" id="disease" class="form-control" name="disease" value="{{content_learn.disease}}" >
            </div>
          </div>
        </div>



      </div>

      <div class="row">
        <h4 class="card-title">9.โรคประจำตัว</h4>
        <div class="col-lg-4 col-md-4">
          <div class="form-group">
                <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="congenital" id="congenital1" value="no"  {% if content_learn.congenital == 'no' %}checked{% endif %} >
              <label class="form-check-label" for="inlineRadio1">ไม่มี</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="congenital" id="congenital2" value="yes"  {% if content_learn.congenital == 'yes' %}checked{% endif %}>
              <label class="form-check-label" for="inlineRadio2">มี</label>
            </div>
          </div>
        </div>


        <div class="col-lg-8 col-md-4">
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="inputPassword6" class="col-form-label"> กรณีมีโรค โรคและอาการ</label>
            </div>
            <div class="col-lg-6">
              <input type="text" class="form-control"  name="congenital_text" id="congenital_text" value="{{content_learn.congenital_text}}">
            </div>
          </div>
        </div>

      </div>




            <div class="row">
        <h4 class="card-title">สำเนาวุฒิการศึกษา</h4>
        <div class="col-lg-12 col-md-12">
          <div class="form-group">
          <input type="file" name="transcript" accept=".jpg, .jpeg, .png, .gif, .pdf"  id="transcript">
          
      {% if content_learn.transcript == '' %}
            ไฟล์ปัจจุบัน: ไม่มี
      {% else %} 
              ไฟล์ปัจจุบัน: {{content_learn.transcript}} 
      {% endif %}
          </div>
          
        </div>
        
      </div>


      <div class="row">
        <h4 class="card-title">หลักฐานการเปลี่ยน ชื่อ-สกุล (ถ้ามี)</h4>
        <div class="col-lg-12 col-md-12">
          <div class="form-group">
          <input type="file" name="proofofreplacement" accept=".jpg, .jpeg, .png, .gif, .pdf"  id="proofofreplacement">
                {% if content_learn.proofofreplacement == '' %}
            ไฟล์ปัจจุบัน: ไม่มี
      {% else %} 
              ไฟล์ปัจจุบัน: {{content_learn.proofofreplacement}} 
      {% endif %}
          </div>
        </div>
      </div>


            <div class="row">
        <h4 class="card-title">ใบรับรองแพทย์</h4>
        <div class="col-lg-12 col-md-12">
          <div class="form-group">
          <input type="file" name="medicalcertificate" accept=".jpg, .jpeg, .png, .gif, .pdf" id="medicalcertificate">
                          {% if content_learn.medicalcertificate == '' %}
            ไฟล์ปัจจุบัน: ไม่มี
      {% else %} 
              ไฟล์ปัจจุบัน: {{content_learn.medicalcertificate}} 
      {% endif %}
          </div>

        </div>
      </div>

              <div style="padding-top: 25px" align="center">
            <div class="col-lg-12 col-md-12">
          <div align="right">
            <div class="btn-group mb-3">

         
              <button
              type="submit"
              class="btn btn-info" >
         
              บันทึก
            </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="form-group">
    <strong> วันที่ลงทะเบียน : {{content_regist.crt_date}}</strong>
  </div>
</section>

{% endblock %}