{% extends 'base.html' %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>

function sumV() {
   
    let addon_qty = document.getElementById("addon_qty").value;
    let addon_price = document.getElementById("addon_price").value;
    let addon_price_discount = document.getElementById("addon_price_discount").value;
    let addon_price_result = document.getElementById("addon_price_result").value;

 }
 function sumUnitV() {
    let addon_qty = document.getElementById("addon_qty").value;
    let addon_price = document.getElementById("addon_price").value;

    let sum = parseFloat(addon_qty) * parseFloat(addon_price);
    let fix = isNaN(sum) ? 0 : sum;
   
    // document.getElementById("addon_price_discount").value = 0;
    document.getElementById("addon_price_result").value = fix.toFixed(2);

    sumVat();
  }

  function sumDiscountV() {
    let addon_qty = document.getElementById("addon_qty").value;
    let addon_price = document.getElementById("addon_price").value;
    let total = parseFloat(addon_qty) * parseFloat(addon_price);

    let addon_price_discount =
      document.getElementById("addon_price_discount").value;
    let sum = parseFloat(total) - parseFloat(addon_price_discount);
    let fix = isNaN(sum) ? 0 : sum;
    document.getElementById("addon_price_result").value = fix.toFixed(2);
  
  }


document.addEventListener("click", async function (event) {
  

    if (event.target.classList.contains("delete-btn")) {
        let id = event.target.getAttribute("data-id"); // ดึงค่า ID
        await setValueDeleteModal(id)
    
    }
});

async function setValueDeleteModal(id) {

let register_id = document.getElementById("register_id").value;

let data = await fetch('/api/deleteaddon', {
method: 'POST',
headers: {
'Content-Type': 'application/json',
},
body: JSON.stringify({'addon_id':id,'register_id':register_id})
})
.then(response => response.json())
.then(data => {
  document.getElementById("addon_total").value = data.total_price_add_on

  let products = data.data;
  let tableBody = $("#product-table tbody");
  tableBody.empty();  // ล้างข้อมูลเก่าก่อนใส่ใหม่
  products.forEach((product ,index) => {
                        tableBody.append(`
                            <tr>
                                <td>${index + 1}</td>
                                <td>${product.course_code}</td>
                                <td>${product.order_list}</td>
                                <td>${product.unit}</td>
                                <td>${product.qty}</td>
                                <td>${product.rpi_price}</td>
                                <td>${product.rpi_price_discount}</td>
                                <td>${product.rpi_price_result}</td>
                             
                                <td>
                                    <button class="delete-btn btn-danger" data-id="${ product.addon_id }">ลบ</button>
                                  </td>
                            </tr>
                        `);
                    });
 }, 100);

 RemoveVat()
 
}
async function saveAddon() {



let addon_course_code = document.getElementById("addon_course_code").value;
let addon_qty = document.getElementById("addon_qty").value;
let addon_price = document.getElementById("addon_price").value;
// let addon_price_discount = document.getElementById("addon_price_discount").value;
let addon_price_result = document.getElementById("addon_price_result").value;
let register_id = document.getElementById("register_id").value;

if((addon_course_code == '') || (addon_qty == '') || (addon_price == '') || (addon_price_result == '')){
  Swal.fire({
      title: 'กรอกข้อมูลให้ครบถ้วน',
      text: 'กรอกข้อมูลให้ครบถ้วน',
      icon: 'error',
      confirmButtonText: 'OK'
    });
return false;
}

let data = await fetch('/api/saveaddon', {
method: 'POST',
headers: {
'Content-Type': 'application/json',
},
body: JSON.stringify({'course_id':addon_course_code,'qty':addon_qty,'rpi_price':addon_price,'register_id':register_id,'addon_price_result':addon_price_result})
})
.then(response => response.json())
.then(data => {
  console.log(data.total_price_add_on);
  document.getElementById("addon_total").value = data.total_price_add_on

  let products = data.data;
  let tableBody = $("#product-table tbody");
  tableBody.empty();  // ล้างข้อมูลเก่าก่อนใส่ใหม่
  products.forEach((product ,index) => {
                        tableBody.append(`
                            <tr>
                                <td>${index + 1}</td>
                                <td>${product.course_code}</td>
                                <td>${product.order_list}</td>
                                <td>${product.unit}</td>
                                <td>${product.qty}</td>
                                <td>${product.rpi_price}</td>
                                <td>${product.rpi_price_discount}</td>
                                <td>${product.rpi_price_result}</td>
                                 <td>
                                    <button class="delete-btn btn-danger" data-id="${ product.addon_id }">ลบ</button>
                                  </td>
                            </tr>
                        `);
                    });
 }, 100);
 sumVat()

 var modal = bootstrap.Modal.getInstance(document.getElementById('AddonClick'));
modal.hide();
}


function validateForm() {

  // let rp_quota = document.getElementById("rp_quota").value;
  // let quata = document.getElementById("quata").value;
  // let selectedValues = [];  // Array to store selected values
  //   let checkboxes = document.querySelectorAll('input[name="selected_bills"]:checked');

  //   checkboxes.forEach((checkbox) => {
  //       selectedValues.push(checkbox.value);  // Add checked values to array
  //   });

  //   document.getElementById("selectedValuesInput").value = selectedValues.join(",");


  let customer_type = document.getElementById("customer_type").value;

  return true;
 
}

  function validate(evt) {
    var theEvent = evt || window.event;

    // Handle paste
    if (theEvent.type === "paste") {
      key = event.clipboardData.getData("text/plain");
    } else {
      // Handle key press
      var key = theEvent.keyCode || theEvent.which;
      key = String.fromCharCode(key);
    }
    var regex = /[0-9]|\./;
    if (!regex.test(key)) {
      theEvent.returnValue = false;
      if (theEvent.preventDefault) theEvent.preventDefault();
    }
  }

  function sumUnit() {
    let rpi_quantity = document.getElementById("rpi_quantity").value;
    let rpi_price = document.getElementById("rpi_price").value;


    
    let sum = parseFloat(rpi_quantity) * parseFloat(rpi_price);
    let fix = isNaN(sum) ? 0 : sum;
    document.getElementById("rpi_price_discount").value = 0;
    document.getElementById("rpi_price_total").value = fix.toFixed(2);
    document.getElementById("rpi_price_result").value = fix.toFixed(2);
    // sumVat();
  }
  function sumDiscount() {
    let rpi_quantity = document.getElementById("rpi_quantity").value;
    let rpi_price = document.getElementById("rpi_price").value;
    let total = parseFloat(rpi_quantity) * parseFloat(rpi_price);

    let rpi_price_discount =
      document.getElementById("rpi_price_discount").value;
    let sum = parseFloat(total) - parseFloat(rpi_price_discount);
    let fix = isNaN(sum) ? 0 : sum;
    document.getElementById("rpi_price_total").value = fix.toFixed(2);
     document.getElementById("rpi_price_result").value = fix.toFixed(2);
    // sumVat();
  }
  function sumVat() {
    
    let pay_type = document.getElementById("pay_type").value;
    let ev_vat = document.getElementById("vat").value;
  
    let rpi_price_total_all = document.getElementById("rpi_price_total").value;
  
    let sum;
    let rpi_price_result;

    if(parseInt(pay_type) == 1){

      

if (parseInt(ev_vat) == 1) {
  let rpi_quantity = document.getElementById("rpi_quantity").value;
  let rpi_price = document.getElementById("rpi_price").value;
  let addontotal = document.getElementById("addon_total").value;
  let total_and_addon = (parseFloat(rpi_quantity) * parseFloat(rpi_price)) + parseFloat(addontotal);
  
  sum = (parseFloat(total_and_addon) * 100) / 107;
 
  rpi_price_result = parseFloat(total_and_addon)  - parseFloat(sum);
  
  let fix = isNaN(sum) ? 0 : sum;
  let fix2 = isNaN(rpi_price_result) ? 0 : rpi_price_result;
  document.getElementById("before_price_vat").value = fix.toFixed(2);
  document.getElementById("rpi_price_vat").value = fix2.toFixed(2);
  document.getElementById("rpi_price_result").value = total_and_addon.toFixed(2);
  document.getElementById("rpi_price_total").value = total_and_addon.toFixed(2);
}else {

  let rpi_quantity = document.getElementById("rpi_quantity").value;
  let rpi_price = document.getElementById("rpi_price").value;
  let addontotal = document.getElementById("addon_total").value;
  let total_and_addon = (parseFloat(rpi_quantity) * parseFloat(rpi_price)) + parseFloat(addontotal);

  sum = (parseFloat(total_and_addon) * 7) / 100;
  rpi_price_result = parseFloat(total_and_addon) + parseFloat(sum);
  
  let fix = isNaN(sum) ? 0 : sum;
  let fix2 = isNaN(rpi_price_result) ? 0 : rpi_price_result;
  document.getElementById("before_price_vat").value = total_and_addon.toFixed(2);
  document.getElementById("rpi_price_vat").value = fix.toFixed(2);
  document.getElementById("rpi_price_result").value = fix2.toFixed(2);
  document.getElementById("rpi_price_total").value = total_and_addon.toFixed(2);

}
    }else {
      if (parseInt(ev_vat) == 1) {
        
        let rpi_quantity = document.getElementById("rpi_quantity").value;
        let rpi_price = document.getElementById("rpi_price").value;
        let addontotal = document.getElementById("addon_total").value;
        let total_and_addon = (parseFloat(rpi_quantity) * parseFloat(rpi_price)) + parseFloat(addontotal);
        
        sum = (parseFloat(total_and_addon) * 100) / 107;
       
        rpi_price_result = parseFloat(total_and_addon)  - parseFloat(sum);
        
        let fix = isNaN(sum) ? 0 : sum;
        let fix2 = isNaN(rpi_price_result) ? 0 : rpi_price_result;
        document.getElementById("before_price_vat").value = fix.toFixed(2);
        document.getElementById("rpi_price_vat").value = fix2.toFixed(2);
        document.getElementById("rpi_price_result").value = total_and_addon.toFixed(2);
        document.getElementById("rpi_price_total").value = total_and_addon.toFixed(2);
      } else {
        
        let rpi_quantity = document.getElementById("rpi_quantity").value;
        let rpi_price = document.getElementById("rpi_price").value;
        let addontotal = document.getElementById("addon_total").value;
        let total_and_addon = (parseFloat(rpi_quantity) * parseFloat(rpi_price)) + parseFloat(addontotal);
  
        sum = (parseFloat(total_and_addon) * 7) / 100;
        rpi_price_result = parseFloat(total_and_addon) + parseFloat(sum);
        
        let fix = isNaN(sum) ? 0 : sum;
        let fix2 = isNaN(rpi_price_result) ? 0 : rpi_price_result;
        document.getElementById("before_price_vat").value = total_and_addon.toFixed(2);
        document.getElementById("rpi_price_vat").value = fix.toFixed(2);
        document.getElementById("rpi_price_result").value = fix2.toFixed(2);
        document.getElementById("rpi_price_total").value = total_and_addon.toFixed(2);
      }
    }

  }


  function RemoveVat() {
    
    let pay_type = document.getElementById("pay_type").value;
    let ev_vat = document.getElementById("vat").value;
  
    let rpi_price_total_all = document.getElementById("rpi_price_total").value;
  
    let sum;
    let rpi_price_result;

    if(parseInt(pay_type) == 1){

      

if (parseInt(ev_vat) == 1) {
  let rpi_quantity = document.getElementById("rpi_quantity").value;
  let rpi_price = document.getElementById("rpi_price").value;
  let addontotal = document.getElementById("addon_total").value;
  let total_and_addon = (parseFloat(rpi_quantity) * parseFloat(rpi_price)) + parseFloat(addontotal);
  
  sum = (parseFloat(total_and_addon) * 100) / 107;
 
  rpi_price_result = parseFloat(total_and_addon)  - parseFloat(sum);
  
  let fix = isNaN(sum) ? 0 : sum;
  let fix2 = isNaN(rpi_price_result) ? 0 : rpi_price_result;
  document.getElementById("before_price_vat").value = fix.toFixed(2);
  document.getElementById("rpi_price_vat").value = fix2.toFixed(2);
  document.getElementById("rpi_price_result").value = total_and_addon.toFixed(2);
  document.getElementById("rpi_price_total").value = total_and_addon.toFixed(2);
}else {

  let rpi_quantity = document.getElementById("rpi_quantity").value;
  let rpi_price = document.getElementById("rpi_price").value;
  let addontotal = document.getElementById("addon_total").value;
  let total_and_addon = (parseFloat(rpi_quantity) * parseFloat(rpi_price)) + parseFloat(addontotal);

  sum = (parseFloat(total_and_addon) * 7) / 100;
  rpi_price_result = parseFloat(total_and_addon) + parseFloat(sum);
  
  let fix = isNaN(sum) ? 0 : sum;
  let fix2 = isNaN(rpi_price_result) ? 0 : rpi_price_result;
  document.getElementById("before_price_vat").value = total_and_addon.toFixed(2);
  document.getElementById("rpi_price_vat").value = fix.toFixed(2);
  document.getElementById("rpi_price_result").value = fix2.toFixed(2);
  document.getElementById("rpi_price_total").value = total_and_addon.toFixed(2);

}
    }else {
      console.log('เครดิต');

      if (parseInt(ev_vat) == 1) {
        
        let rpi_quantity = document.getElementById("rpi_quantity").value;
        let rpi_price = document.getElementById("rpi_price").value;
        let addontotal = document.getElementById("addon_total").value;
        let total_and_addon = (parseFloat(rpi_quantity) * parseFloat(rpi_price)) + parseFloat(addontotal);
        
        sum = (parseFloat(total_and_addon) * 100) / 107;
       
        rpi_price_result = parseFloat(total_and_addon)  - parseFloat(sum);
        
        let fix = isNaN(sum) ? 0 : sum;
        let fix2 = isNaN(rpi_price_result) ? 0 : rpi_price_result;
        document.getElementById("before_price_vat").value = fix.toFixed(2);
        document.getElementById("rpi_price_vat").value = fix2.toFixed(2);
        document.getElementById("rpi_price_result").value = total_and_addon.toFixed(2);
        document.getElementById("rpi_price_total").value = total_and_addon.toFixed(2);
      } else {
        
        let rpi_quantity = document.getElementById("rpi_quantity").value;
        let rpi_price = document.getElementById("rpi_price").value;
        let addontotal = document.getElementById("addon_total").value;
        let total_and_addon = (parseFloat(rpi_quantity) * parseFloat(rpi_price)) + parseFloat(addontotal);
  
        sum = (parseFloat(total_and_addon) * 7) / 100;
        rpi_price_result = parseFloat(total_and_addon) + parseFloat(sum);
        
        let fix = isNaN(sum) ? 0 : sum;
        let fix2 = isNaN(rpi_price_result) ? 0 : rpi_price_result;
        document.getElementById("before_price_vat").value = total_and_addon.toFixed(2);
        document.getElementById("rpi_price_vat").value = fix.toFixed(2);
        document.getElementById("rpi_price_result").value = fix2.toFixed(2);
        document.getElementById("rpi_price_total").value = total_and_addon.toFixed(2);
      }
    }

  }

  function setBillName() {
    let student_firstname_th = document.getElementById(
      "student_firstname_th"
    ).value;
    let student_lastname_th = document.getElementById(
      "student_lastname_th"
    ).value;
    document.getElementById("rp_name_customer").value =
      student_firstname_th + " " + student_lastname_th;
  }

  function handleChangeVat() {
    let value = document.getElementById("vat").value;
    sumVat();
}

  window.onload = sumVat;
</script>
<div class="row">
  <div class="col-12 col-md-6 order-md-1 order-last">
    <h3>
      {% if content_regist.pay_type == 2 %}
      <span>ออกใบเสนอราคา</span>
      {% else %}
      <span>ออกใบเสร็จ</span> {% endif %}
    </h3>
  </div>
  <div class="col-12 col-md-6 order-md-2 order-first">
    <nav
      aria-label="breadcrumb"
      class="breadcrumb-header float-start float-lg-end"
    >
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">หน้าหลัก</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/register/report">รายงาน</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/register/payment/history/{{data.register_id}}">
            {% if content_regist.pay_type == 2 %} ใบเสนอราคา {% else %} ใบเสร็จ
            {% endif %}
          </a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">
          {% if content_regist.pay_type == 2 %} ออกใบเสนอราคา {% else %}
          ออกใบเสร็จ {% endif %}
        </li>
      </ol>
    </nav>
  </div>
</div>

<section class="section">
  
  <form method="post"  onsubmit="return validateForm();" action="{% url 'CreatePaymentno' %}" autocomplete="off">
    {% csrf_token %}


    <div class="modal fade" id="EditClick">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header bg-danger">
            <h5 class="modal-title white" id="myModalLabel19">รายละเอียดการอบรม</h5>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <i data-feather="x"></i>
            </button>
          </div>
       
            <div class="modal-body">
              {% csrf_token %}
              <input type="hidden" name="des_id" id="des_id" required />
              <div class="col-12 col-sm-12">
                {% for res in des_bill %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="selected_bills" value="{{ res.des_id }}" id="bill{{ res.des_id }}">
                    <label class="form-check-label" for="bill{{ res.des_id }}">
                        {{ res.name }}
                    </label>
                </div>
            {% endfor %}
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-light-secondary"
                  data-bs-dismiss="modal"
                >
                  <i class="bx bx-x d-block d-sm-none"></i>
                  <span class="d-none d-sm-block">ปิด</span>
                </button>
              
              </div>
            </div>
       
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label
            >ข้อมูลลูกค้า : {% if content_regist.customer_type == 1 %}
            <span>ประเภทบุคคล</span>
            {% else %}
            <span>ประเภทบริษัท</span>
            {% endif %} | {% if content_regist.pay_type == 1 %}
            <span>เงินสด</span>
            {% else %}
            <span>เครดิต</span>
            {% endif %}
          </label>
        </div>
        <input
          type="hidden"
          id="register_id"
          name="register_id"
          value="{{data.register_id}}"
        />
        <input
          type="hidden"
          id="ev_vat"
          name="ev_vat"
          value="{{content_course.ev_vat}}"
        />

        <input
        type="hidden"
        class="form-control"
        id="pay_type"
        name="pay_type"
        value="{{content_regist.pay_type}}"
      />
        <div class="row">
          {% if content_regist.customer_type == 1 %}
          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label>ชื่อ</label> <label style="color: red">*</label>
              <input
                type="text"
                class="form-control"
                id="student_firstname_th"
                name="student_firstname_th"
                onkeypress="setBillName();"
                onkeyup="setBillName();"
                value="{{student_data.student_firstname_th}}"
                required
              />
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label>นามสกุล</label> <label style="color: red">*</label>
              <input
                type="text"
                class="form-control"
                id="student_lastname_th"
                name="student_lastname_th"
                onkeypress="setBillName();"
                onkeyup="setBillName();"
                value="{{student_data.student_lastname_th}}"
                required
              />
              <input
                type="hidden"
                id="rp_name_customer"
                name="rp_name_customer"
                value="{{student_data.student_firstname_th}} {{student_data.student_lastname_th}}"
              />
            </div>
          </div>
          {% else %}
          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label>ชื่อลูกค้า</label> <label style="color: red">*</label>
              <input
                type="text"
                class="form-control"
                value="{{data.customer_name}}"
                id="rp_name_customer"
                name="rp_name_customer"
                required
              />
            </div>
          </div>
          {% endif %}

          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label>รหัสลูกค้า</label> <label style="color: red">*</label>
              <input
                type="text"
                class="form-control"
                value="{{data.customer_code}}"
                id="rp_code_customer"
                name="rp_code_customer"
                required
              />
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label>TAX ID</label>
              <input
                type="text"
                class="form-control"
                value="{{data.customer_tax}}"
                id="rp_tax"
                name="rp_tax"
              />
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label>ผู้เสนอโครงการ</label> <label style="color: red">*</label>
              <!-- <input
                type="text"
                class="form-control"
                value="{{content_regist.seller.first_name}} {{content_regist.seller.seller_id}}"
                id="rp_name_seller"
                name="rp_name_seller"
                required
                readonly
              /> -->
              <select class="select2"  id="rp_name_seller" name="rp_name_seller" style="width: 100%" required>
                <option value="">--ผู้เสนอโครงการ--</option>
                {% for res in list_user %}
                <option value="{{res.id}}">
                  {{res.first_name}} {{res.last_name}}
                </option>
                {% endfor %}
              </select>




   
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label>ชื่อผู้ติดต่อ</label> <label style="color: red">*</label>
              <input
                type="text"
                class="form-control"
                required
                id="rp_name_contact"
                name="rp_name_contact"
              />
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label>ฝ่าย / สาขา</label> <label style="color: red">*</label>
              <input
                type="text"
                class="form-control"
                required
                id="rp_branch"
                name="rp_branch"
                value="00018"
              />
            </div>
          </div>

          <div class="col-lg-12 col-md-12">
            <div class="form-group">
              <label>ที่อยู่</label> <label style="color: red">*</label>

              <textarea
                class="form-control"
                required
                rows="3"
                id="rp_address"
                name="rp_address"
              >
{{data.customer_address}} ตำบล/แขวง {{data.location.district_name}} อำเภอ/เขต {{data.location.amphur_name}} จังหวัด {{data.location.province_name}} {{data.location.zipcode}}
            </textarea
              >
            </div>
          </div>
          {% if content_regist.pay_type == 2 %}
          <div class="col-lg-3 col-md-6">
            <div class="form-group">
              <label>ยืนยันราคาภายในวัน</label>
              <label style="color: red">*</label>
              <input type="text" class="form-control daterangesingle" required
              id="rp_confirm_date_price" name="rp_confirm_date_price"
              value="{{data.rp.rp_confirm_date_price|date:"d/m/Y"}}" />
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="form-group">
              <label>วันที่ส่งของ</label> <label style="color: red">*</label>
              <input type="text" class="form-control daterangesingle" required
              id="rp_date_delivery" name="rp_date_delivery"
              value="{{data.rp.rp_date_delivery|date:"d/m/Y"}}" />
            </div>
          </div>

 
          
          
        

          {% endif %}

          {% comment %} {% if content_regist.customer_type == 1 %}
          <div class="col-lg-3 col-md-6">
            <div class="form-group">
              <label>จำนวนผู้เข้าอบรม</label>
              <label style="color: red">*</label>
              <input
                type="number"
                class="form-control"
                id="rp_quota"
                name="rp_quota"
                value="1"
                readonly
              />
            </div>
          </div>
          {% endif %}
          {% if content_regist.customer_type == 2 %}
          <div class="col-lg-3 col-md-6">
            <div class="form-group">
              <label>จำนวนผู้เข้าอบรม</label>
              <label style="color: red">*</label>
              <input
                type="number"
                class="form-control"
                id="rp_quota"
                name="rp_quota"
                required
              />
            </div>
          </div>
          {% endif %}
 {% endcomment %}



          <div class="col-lg-3 col-md-6">
            <div class="form-group">
              <label>Tel.</label> <label style="color: red">*</label>
              <input
                type="text"
                class="form-control"
                value="{{data.customer_phone}}"
                required
                id="rp_phone"
                name="rp_phone"
              />
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="form-group">
              <label>E-mail</label>
              <input
                type="email"
                class="form-control"
                value="{{data.customer_email}}"
                id="rp_email"
                name="rp_email"
              />
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="form-group">
              <label>Ref 1</label>
              <input
                type="text"
                class="form-control"
                id="rp_ref1"
                name="rp_ref1"
              />
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="form-group">
              <label>Ref 2</label>
              <input
                type="text"
                class="form-control"
                id="rp_ref2"
                name="rp_ref2"
              />
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="form-group">
              <label>STM โอน </label>
              <input
                type="datetime-local"
                class="form-control"
                id="stmdate"
                name="stmdate"
                format-value="yyyy-MM-ddTHH:mm" 
                required
              />
    

            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="form-group">
              <label>หมายเหตุ</label>
              <input
                type="text"
                class="form-control"
                id="stmetc"
                name="stmetc"
              />
            </div>
          </div>

          {% if content_regist.pay_type == 2 %}
     
  
          <div class="col-lg-3 col-md-6">
            <div class="form-group">
              <label>เลือกผู้จัดการ</label>
              <select class="form-select" id="user_manage" name="user_manage" style="width: 100%" required>
                <option value="">--เลือกผู้จัดการ--</option>
                {% for res in manage %}
                <option value="{{res.user.id}}">
                  {{res.user.first_name}} {{res.user.last_name}} {{res.user.id}}
                </option>
                {% endfor %}
              </select>
          
            </div>
          </div>
          {% else %}
          {% endif %}
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-body">
        <div class="form-group">
          
  
          <button type="button" class="btn btn-primary"  
   
       
          data-bs-toggle="modal"
          data-bs-target="#EditClick">
          รายละเอียดการอบรม
          </button>
          <input type="hidden" id="selectedValuesInput" name="selected_values">
        </div>
   </div>
  </div>


   <div class="card">
    <div class="card-body">
      <div class="form-group">
        <button type="button" class="btn btn-primary"  
        data-bs-toggle="modal"
        data-bs-target="#AddonClick">
        Add on
        </button>
        <input type="hidden" id="selectedValuesInput" name="selected_values">
      </div>
 </div>

 <table class="table table-striped"   id="product-table">
  <thead>
    <tr>
      <th>ลำดับ</th>
      <th>รหัส</th>
      <th>ชื่อ</th>
      <th>หน่วย</th>
      <th>จำนวน</th>
      <th>ราคาต่อหน่วย</th>
      <th>ส่วนลด</th>
      <th>จำนวนเงิน</th>
      <th>#</th>
 
    </tr>
  </thead>
  <tbody>
    {% for addons in addon %}
    <tr>
      <td align="center">{{ forloop.counter }}</td>
      <td>
        {{addons.course_code}}
        </td>
         <td>
          {{addons.order_list}}
           </td>
           <td>
            {{addons.unit}}
             </td>
             <td>
              {{addons.qty}}
               </td>
             <td>
              {{addons.rpi_price}}
               </td>
               <td>
                {{addons.rpi_price_discount}}
                 </td>
                 <td>
                  {{addons.rpi_price_result}}
                   </td>
                   <td>
                    <button class="delete-btn btn-danger" data-id="{{ addons.addon_id }}">ลบ</button>
                    <div align="center">
              
                      
                      <!-- <button type="button"  class="delete-btn" data-id="{{addons.addon_id}}">
                        <i class="icon dripicons-trash" aria-hidden="true"></i>
                      </button> -->
                    </div>
                  </td>
      
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
     
       



  </div> 




    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label>ชำระเงิน</label>  
        </div>
        <input
        type="hidden"
        class="form-control"
        value="{{quata}}"
        id="quata"
        name="quata"
        required
      />

      <input
      type="hidden"
      class="form-control"
      id="customer_type"
      name="customer_type"
      value="{{content_regist.customer_type}}"
      
    />
    
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label>รหัสสินค้า</label> <label style="color: red">*</label>
              <input
                type="text"
                class="form-control"
                value="{{course.course_code}}"
                id="rpi_code"
                name="rpi_code" readonly
              />
            </div>
          </div>

          <div class="col-lg-4 col-md-6" style="display: none;">
            <label>ราคานี้รวม VAT</label> <label style="color: red">*</label>
            <select class="form-select"  id="vat" name="vat" style="width: 100%" onchange="handleChangeVat()" required>
             
              <option value="0" select>--ไม่ใช่--</option>
              <option value="1">--ใช่--</option>
            </select>
          </div>

          <div class="col-lg-12">
            <div class="form-group">
              <label>รายการสินค้า</label> <label style="color: red">*</label>
              <textarea
                class="form-control"
                required
                rows="3"
                id="rpi_name"
                name="rpi_name"
              >
{{content_course.course.course_name}}</textarea
              >
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label>จำนวนสินค้า</label> <label style="color: red">*</label>
              <input
                type="text"
                class="form-control"
                id="rpi_quantity"
                name="rpi_quantity"
                value="1"
                onchange="sumUnit();validate(event)"
                onkeypress="sumUnit();validate(event)"
                onkeyup="sumUnit();validate(event)"
              />
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label>หน่วย</label> <label style="color: red">*</label>
              <input
                type="text"
                class="form-control"
                id="rpi_unit"
                name="rpi_unit"
                value="Course"
              />
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label>ราคาต่อหน่วย</label> <label style="color: red">*</label>
              <input
                type="text"
                class="form-control"
                id="rpi_price"
                name="rpi_price"
                value="{{content_course.ev_price }}"
                onchange="sumUnit();validate(event)"
                onkeypress="sumUnit();validate(event)"
                onkeyup="sumUnit();validate(event)" 
                required
              />
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label>ส่วนลด</label> <label style="color: red">*</label>
              <input
                type="text"
                class="form-control"
                id="rpi_price_discount"
                name="rpi_price_discount"
                onchange="sumDiscount();validate(event)"
                onkeypress="sumDiscount();validate(event)"
                onkeyup="sumDiscount();validate(event)"
                value="0"
              />
            </div>
          </div>

       <div class="col-lg-4 col-md-6" style="display: none;">
            <div class="form-group">
              <label>จำนวนเงินสินค้าเพิ่มเติม</label>
              <label style="color: red">*</label>
              <input
                type="text"
                class="form-control"
                id="addon_total"
                name="addon_total"
                value="{{total_price_add_on}}"
                readonly
              />
            </div>
          </div> 

          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label>รวมเงิน</label> <label style="color: red">*</label>
              <input
                type="text"
                class="form-control"
                id="rpi_price_total"
                name="rpi_price_total"
                value="0"
                readonly
              />
            </div>
          </div>


          
          <div class="col-lg-4 col-md-6" style="display: none;">
            <div class="form-group">
              <label>ราคาก่อนรวมภาษีมูลค่าเพิ่ม 7&#37;</label>
              <label style="color: red">*</label>
              <input
                type="text"
                class="form-control"
                id="before_price_vat"
                name="before_price_vat"
                readonly
              />
            </div>
          </div>
     

          <div class="col-lg-4 col-md-6" style="display: none;">
            <div class="form-group">
              <label>ภาษีมูลค่าเพิ่ม 7&#37;</label>
              <label style="color: red">*</label>
              <input
                type="text"
                class="form-control"
                id="rpi_price_vat"
                name="rpi_price_vat"
                readonly
              />
            </div>
          </div>
 

     

          <div class="col-lg-4 col-md-6">
            <div class="form-group">
              <label>จำนวนเงินทั้งสิ้น</label>
              <label style="color: red">*</label>
              <input
                type="text"
                class="form-control"
                id="rpi_price_result"
                name="rpi_price_result"
                readonly
              />
            </div>
          </div>

        </div>

        <div class="form-group" align="center">
          <button type="submit" class="btn btn-success rounded-pill">
            {% if content_regist.pay_type == 2 %} ออกใบเสนอราคา {% else %}
            ออกใบเสร็จ {% endif %}
          </button>
        </div>
      </div>
    </div>

    
  </form>
</section>


<div class="modal fade" id="AddonClick">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title white" id="myModalLabel19">เพิ่มรายการในบิล</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i data-feather="x"></i>
        </button>
      </div>
   
        <div class="modal-body">
          {% csrf_token %}
          <input type="hidden" name="des_id" id="des_id" required />
          <div class="col-12 col-sm-12">
            <select class="form-select"  id="addon_course_code" name="addon_course_code" style="width: 100%" required>
              <option value="">--ITEM CODE--</option>
              {% for res in course_list %}
              <option value="{{res.course_id}}">
                {{res.course_code}} {{res.course_name}}
              </option>
              {% endfor %}
            </select>
          </div>


          <div class="col-12 col-sm-12">
            <label>จำนวน</label>
            <label style="color: red">*</label>
            <input
              type="text"
              class="form-control"
              id="addon_qty"
              name="addon_qty"
              onchange="sumUnitV();validate(event)"
              onkeypress="sumUnitV();validate(event)"
              onkeyup="sumUnitV();validate(event)"
              value="1"
            />
          </div>

          <div class="col-12 col-sm-12">
            <label>ราคาต่อหน่วย</label>
            <label style="color: red">*</label>
            <input
              type="text"
              class="form-control"
              id="addon_price"
              name="addon_price"
              onchange="sumUnitV();validate(event)"
              onkeypress="sumUnitV();validate(event)"
              onkeyup="sumUnitV();validate(event)"
            
            />
          </div>

          <div class="col-12 col-sm-12" hidden>
            <label>ส่วนลด</label>
            <label style="color: red">*</label>
            <input
              type="text"
              class="form-control"
              id="addon_price_discount"
              name="addon_price_discount"
              onchange="sumDiscountV();validate(event)"
              onkeypress="sumDiscountV();validate(event)"
              onkeyup="sumDiscountV();validate(event)"
              value="0"
            readonly
            />
          </div>

          <div class="col-12 col-sm-12">
            <label>ยอดรวม</label>
            <label style="color: red">*</label>
            <input
              type="text"
              class="form-control"
              id="addon_price_result"
              name="addon_price_result"
               onkeypress="validate(event)"
              onkeyup="validate(event)"
            readonly
            />
          </div>
          </div>

          <div class="modal-footer">
            <button
            type="button"
            class="btn btn-light-success"
            data-bs-dismiss="modal"
          >
            <i class="bx bx-x d-block d-sm-none"></i>
            <span class="d-none d-sm-block" onclick="saveAddon()">Save</span>
          </button>
            <button
              type="button"
              class="btn btn-light-secondary"
              data-bs-dismiss="modal"
            >
              <i class="bx bx-x d-block d-sm-none"></i>
              <span class="d-none d-sm-block">ปิด</span>
            </button>
          
          </div>
        </div>
   
    </div>
  </div>
</div>


{% endblock %}
